@import './plugins/text.scss'

@mixin flex-class
    display: flex
    display: -webkit-box
    display: -moz-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
@mixin transition
    -webkit-transition:  0.6s
    -moz-transition:  0.6s
    -o-transition:  0.6s
    transition:  0.6s
@mixin background
    background-position: center
    background-repeat: no-repeat
    background-size: cover

@mixin styling($width,$function)
    @media screen and ( max-width: $width )
        .backgroundImage
            height: 100%
            width: 100%
            position: absolute
            left: 0
            bottom: 0
            @include background
            @include transition
        .backgroundImage:nth-child(1)
            z-index: -3
        .backgroundImage:nth-child(2)
            z-index: -2
            top: 100vh
        .backgroundImage:nth-child(3)
            z-index: -1
            top: 100vh
        .block
            height: 100vh
            overflow: hidden
            position: relative
            @include background
            @include flex-class
            font-family: 'Ropa Sans', sans-serif
            align-items: center
            justify-content: flex-end
            position: relative
            &_inner
                width: 100%
                padding-top: 10%
                @include flex-class
                z-index: 1
                &_left
                    width: 100%
                    padding-left: 15%
                    .img
                        img
                            cursor: pointer
                        &_spanChange
                            color: white
                            font-size: call($function, 14px)
                            padding: 0 call($function, 10px)
                        &_block
                            @include flex-class
                            align-items: center
                        .pause
                            @include flex-class
                            margin: 0 call($function, 10px)
                            cursor: pointer
                            div
                                height: call($function, 18px)
                                width: call($function, 3px) !important
                                margin:0px call($function, 2px)
                                background-color: white
                        .loader
                            width: call($function, 160px)
                            background-color: white
                            height: call($function, 3px)
                            @include flex-class
                            align-items: center
                            position: relative
                            .navigator
                                position: relative
                                left: 0
                                bottom: 0
                                width: call($function, 13px) !important
                                height: call($function, 13px)
                                border-radius: 50%
                                background-color: white
                                
                        div
                            margin: 0
                    div
                        margin: 5% 0
                    .content
                        width: 60%
                        text-align: left
                        span
                            font-size: call($function, 55px)
                            color: white
                    .button
                        width: 30%
                        border: none
                        button
                            border: none
                            background-color: #F0BF0C
                            color: black
                            padding: call($function,10px)
                            width: 100%
                            font-weight: bold
                            font-size: call($function,17px)
                            @include transition
                            cursor: pointer
                            &:hover
                                background-color: white
                        
                &_right
                    @include flex-class
                    align-items: center
                    .content
                        span
                            color: white
                            padding: call($function , 10px) 0
                            display: inline-block
                        .swiper
                            .active
                                background-color: white
                            &_item
                                margin: 0 auto
                                height:  call($function,83px)
                                background-color: rgba(255, 255, 255, 0.15)
                                width: call($function,10px) 
                                @include transition
                                cursor: pointer !important
                                &:hover
                                    background-color: white

                &_logos
                    position: absolute
                    bottom: 0
                    right: 0
                    padding: call($function,20px)
                    background-color: rgba(0,0,0,0.7)
                    @include flex-class
                    align-items: center
                    img
                        margin: call($function,20px)
            &_images
                @include flex-class
                flex-wrap: nowrap
                &_main
                    height: call($function,448px)
                    width: 30%
                    @include background
                    @include transition
                    background-color: black
                    background-repeat: no-repeat
                    cursor: pointer
                    background-position: center
                    position: relative
                    .inner_content
                        @include flex-class
                        transform: scale(0,0)
                        padding-left: 5%
                        height: 100%
                        padding-top: 5%
                        @include transition
                        
                        padding-bottom: 5%
                        align-items: center
                        .content
                            background-color: white
                            width: 50%
                            height: 80%
                            position: relative
                            &_block
                                height: 33.33%
                                @include flex-class
                                align-items: center
                                justify-content: center
                                div
                                    text-align: center
                                    font-size:  call($function,18px)
                                    span
                                        font-size: call($function,36px)
                                        color: #F0BF0C

                    .text
                        color: white
                        font-size: call($function,30px)
                        position: absolute
                        width: 80%
                        bottom: call($function,20px)
                        right: call($function,20px)
                        text-align: center
                        display: inline-block
                        margin: 0 auto
                &_main:nth-child(1)
                    width: 40%
                    .inner_content
                        transform: scale(1,1)
            &_perspectives
                margin: 0 auto
                background-color: white
                padding: 5% 0
                box-sizing: border-box
                position: relative
                .row
                    @include flex-class
                    flex-wrap: nowrap !important
                    justify-content: space-between
                    &:before,&:after
                        display: none
                &_left
                    @include flex-class
                    width: 40%
                    justify-content: space-between
                    .content
                        .list
                            &_content
                                position: relative
                                padding: call($function,1px) 10%
                                margin: 5% 0
                                div 
                                    h3
                                        padding: 0
                                        margin: call($function,10px) 0
                                img
                                    position: absolute
                                    left: 0
                                    top: 15%
                        h3
                            font-size: call($function,26px)
                &_right
                    width: 50%
                    @include flex-class
                    
                    .content
                        height: 100%
                        width: 80%
                        padding: 5%
                        background-color: black
                        h3
                            margin: 0
                            color: #F0BF0C
                            font-size: call($function,22px)
                            margin: call($function,10px) 0
                            padding: 0
                        p
                            margin: 0
                            color: white
                            margin: call($function,10px) 0
                            padding: 0
                            font-size: call($function,14px)
                        .button
                            @include flex-class
                            align-items: center
                            margin: call($function,10px) 0
                            button
                                background-color: #F0BF0C
                                color: black
                                border: none
                                padding: call($function,10px)
                                width: 100%
                                font-weight: bold
                                font-size: call($function,17px)
                                @include transition
                                cursor: pointer
                                &:hover
                                    background-color: white
                            
                        
            &_partners
                padding: 2% 0
                background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF
                .container
                    .row
                        display: block
                        
                        h3
                            padding: 2% 0
                            font-size: call($function,25px) 
                        div
                            @include flex-class
                            justify-content: space-between 
                            img
                                object-fit: contain !important
                                height: 80px