.content
    margin: 0 auto
    .image
        background-position: center
        background-size: cover
    &_inner
        text-align: center
        margin: 0 auto
        padding:  0 0 5% 0
        p
            text-align: justify
            padding: 5px 0
            color: #4E4E4E
        .map
            margin: 0 auto
            width: 100%
            background-size: cover
            background-position: center
            background-repeat: no-repeat