@import '_mixins.sass'
@import './plugins/text.scss'
@mixin button
    button
        border: none
        background-color: #F0BF0C
        color: black
        padding: get-vw-1440(10px)
        width: 100%
        font-weight: bold
        font-size: get-vw-1440(17px)
        @include transition
        cursor: pointer
        &:hover
            background-color: white
@include styling(5000px,'get-vw-1440')  
@include styling(1024px,'get-vw-1024')
@include styling(768px, 'get-vw-768')
@include styling(480px, 'get-vw-480')
@include styling(360px, 'get-vw-360')
@media screen and ( max-width: 480px )
    .block
        &_inner
            &_left
                margin-top: 50% !important
    .player-video
        bottom: 200px !important
    .block
        &_images
            &_main
                width: 100%
            &_main:nth-child(1)
                width: 100%
.player-video
    width: 110%
    height: 110%
    position: absolute
    left: -5%
    bottom: -5%
    z-index: 0
