@import '_mixins.sass'
@import './plugins/text.scss'

*
    font-family: 'DIN Pro'
    // margin: 0 auto
html
    box-sizing: border-box
p
    margin: 0 
    margin-bottom: 0 !important
*,*::before,*::after
    box-sizing: inherit

img
    object-fit: cover
    
body
    margin: 0 auto
    overflow-x: hidden
.global_title
    h3
        &:after
            top: 50%
        &:before
            top: 50%
ul
    margin: 0
    padding: 0


.header
    width: 100%
    position: fixed
    background-color: rgba(0,0,0,0.3)
    padding: 10px 0
    z-index: 1001
    &_inner
        @include flex-class
        width: 100%
        justify-content: space-between
        align-items: center
        .burger
            display: none
            padding: 5px
            div
                height: 4px 
                width: 28px
                margin: 5px
                background-color: #F0BF0C
        &_menu
            width: 100%
            @include flex-class
            align-items: center
            justify-content: flex-end
            ul
                margin: 0 
                text-align: right
                li
                    list-style-type: none
                    display: inline-block
                    padding: 10px 15px
                    a
                        text-decoration: none
                        color: white
                        @include transition
                        font-size: get-vw-1440(17px)
                    .active
                        color: #F0BF0C
                    a:hover
                        color:#F0BF0C
.modal-body
    position: fixed !important
    width: 100%
    height: 100%
    left: 0
    top: 0
    align-items: center
    display: none
    background-color: rgba(0,0,0,0.8)
    z-index: 1500
    justify-content: center
    .modal-inner
        padding: 3% 5%
        position: relative
        // width: 400px
        background-color: white
        .fa
            position: absolute
            top: 20px
            cursor: pointer
            font-size: 16px
            right: 20px
        form
            p
                position: relative
                margin: 10% 0
                label,input
                    display: block
                    width: 100%
                
                input,textarea
                    outline: none
                    border: none
                    border-bottom: 1px solid gray
                textarea
                    height: 100px
                    &:focus
                        border-bottom: 1px solid #F0BF0C
                
                input
                    transition: 0.3s all
                    &[type=submit]
                        border: none
                        background-color: black
                        color: white
                        border: 1px solid black
                        padding: 10px
                    &:hover
                        background-color: white
                        color: black
                    &:focus
                        border-bottom: 1px solid #F0BF0C
                input:focus::-webkit-input-placeholder 
                    color: #F0BF0C
                
        
.footer
    background-color: black
    color: white
    &_inner
        background-color: #202020
        padding: 25px
        .row
            @include flex-class
            justify-content: space-between
            align-items: center
            flex-wrap: nowrap
        &_left
            width: 20%
            .content
                font-size: get-vw-1440(14px)
        &_right
            width: 80%
            text-align: right
            p
                font-size: 15px
                padding: 0 
                margin: 0
            button
                background-color: #000000
                border-radius: 3px
                color: white
                cursor: pointer
                @include transition
                margin: 5px 0
                font-size: 12px
                outline: none
                border: none
                padding: 10px 20px
                &:hover
                    background-color: white
                    color: #000000
    &_outer
        .row
            @include flex-class
            justify-content: space-between
            align-items: center
            flex-wrap: nowrap !important
        .content
            width: 100%
            text-align: right
            font-size: get-vw-1440(12px)
            span
                font-size: get-vw-1440(12px)
                color: gray
.adaptive_menu
    width: 100%
    height: 100%
    position: fixed
    background-color: black
    // z-index: 4000
    left: 0
    display: none
    bottom: 0
    i
        color: white
        font-size: 20px
        font-weight: 200
        margin: 5px
    ul 
        margin: 0
        height: 100vh
        background-color: black
        li
            padding: 10px
            text-align: center
            a
                color: white
            .active
                color: #F0BF0C
@import 'media.sass'
