@media screen and ( max-width:  720px)
    .header_inner_menu
        display: none !important
    .burger
        display: block !important
    .block_images
        display: block !important
    .block_perspectives
        .container
            .row
                display: block !important
                div
                    width: 100%
        &_right
            display: block !important
        .image
            text-align: center
@media screen and (max-width: 583px)
    .block
        &_inner
            &_left
                padding: 0 !important
                div
                    width: 100% !important
                .button
                    width: 80% !important
    .block_partners
        .container
            .row
                div
                    flex-wrap: wrap
                    img
                        display: block
                        margin: 5% auto 
    .row
        padding: 3% !important
@media screen and ( max-width:  499px)
    .block_perspectives
        .container
            .row
        &_left
            display: block !important
            .image
                text-align: center !important
        &_right
            display: block
            .content
                h3
                    margin: 3% 0 !important
                p
                    margin: 3% 0 !important
                .button
                    margin: 3% 0 !important


    