.global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
}

.global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
}

@media screen and (max-width: 5000px) {
  .backgroundImage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }

  .backgroundImage:nth-child(1) {
    z-index: -3;
  }

  .backgroundImage:nth-child(2) {
    z-index: -2;
    top: 100vh;
  }

  .backgroundImage:nth-child(3) {
    z-index: -1;
    top: 100vh;
  }

  .block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    font-family: "Ropa Sans", sans-serif;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .block_inner {
    width: 100%;
    padding-top: 10%;
    display: flex;
    display: flex;
    z-index: 1;
  }

  .block_inner_left {
    width: 100%;
    padding-left: 15%;
  }

  .block_inner_left .img img {
    cursor: pointer;
  }

  .block_inner_left .img_spanChange {
    color: white;
    font-size: 0.9722222222vw;
    padding: 0 0.6944444444vw;
  }

  .block_inner_left .img_block {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_left .img .pause {
    display: flex;
    display: flex;
    margin: 0 0.6944444444vw;
    cursor: pointer;
  }

  .block_inner_left .img .pause div {
    height: 1.25vw;
    width: 0.2083333333vw !important;
    margin: 0px 0.1388888889vw;
    background-color: white;
  }

  .block_inner_left .img .loader {
    width: 11.1111111111vw;
    background-color: white;
    height: 0.2083333333vw;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
  }

  .block_inner_left .img .loader .navigator {
    position: relative;
    left: 0;
    bottom: 0;
    width: 0.9027777778vw !important;
    height: 0.9027777778vw;
    border-radius: 50%;
    background-color: white;
  }

  .block_inner_left .img div {
    margin: 0;
  }

  .block_inner_left div {
    margin: 5% 0;
  }

  .block_inner_left .content {
    width: 60%;
    text-align: left;
  }

  .block_inner_left .content span {
    font-size: 3.8194444444vw;
    color: white;
  }

  .block_inner_left .button {
    width: 30%;
    border: none;
  }

  .block_inner_left .button button {
    border: none;
    background-color: #F0BF0C;
    color: black;
    padding: 0.6944444444vw;
    width: 100%;
    font-weight: bold;
    font-size: 1.1805555556vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_inner_left .button button:hover {
    background-color: white;
  }

  .block_inner_right {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_right .content span {
    color: white;
    padding: 0.6944444444vw 0;
    display: inline-block;
  }

  .block_inner_right .content .swiper .active {
    background-color: white;
  }

  .block_inner_right .content .swiper_item {
    margin: 0 auto;
    height: 5.7638888889vw;
    background-color: rgba(255, 255, 255, 0.15);
    width: 0.6944444444vw;
    transition: 0.6s;
    cursor: pointer !important;
  }

  .block_inner_right .content .swiper_item:hover {
    background-color: white;
  }

  .block_inner_logos {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.3888888889vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_logos img {
    margin: 1.3888888889vw;
  }

  .block_images {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
  }

  .block_images_main {
    height: 31.1111111111vw;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    position: relative;
  }

  .block_images_main .inner_content {
    display: flex;
    display: flex;
    transform: scale(0, 0);
    padding-left: 5%;
    height: 100%;
    padding-top: 5%;
    transition: 0.6s;
    padding-bottom: 5%;
    align-items: center;
  }

  .block_images_main .inner_content .content {
    background-color: white;
    width: 50%;
    height: 80%;
    position: relative;
  }

  .block_images_main .inner_content .content_block {
    height: 33.33%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_images_main .inner_content .content_block div {
    text-align: center;
    font-size: 1.25vw;
  }

  .block_images_main .inner_content .content_block div span {
    font-size: 2.5vw;
    color: #F0BF0C;
  }

  .block_images_main .text {
    color: white;
    font-size: 2.0833333333vw;
    position: absolute;
    width: 80%;
    bottom: 1.3888888889vw;
    right: 1.3888888889vw;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }

  .block_images_main:nth-child(1) {
    width: 40%;
  }

  .block_images_main:nth-child(1) .inner_content {
    transform: scale(1, 1);
  }

  .block_perspectives {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
  }

  .block_perspectives .row {
    display: flex;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }

  .block_perspectives .row:before,
  .block_perspectives .row:after {
    display: none;
  }

  .block_perspectives_left {
    display: flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .block_perspectives_left .content .list_content {
    position: relative;
    padding: 0.0694444444vw 10%;
    margin: 5% 0;
  }

  .block_perspectives_left .content .list_content div h3 {
    padding: 0;
    margin: 0.6944444444vw 0;
  }

  .block_perspectives_left .content .list_content img {
    position: absolute;
    left: 0;
    top: 15%;
  }

  .block_perspectives_left .content h3 {
    font-size: 1.8055555556vw;
  }

  .block_perspectives_right {
    width: 50%;
    display: flex;
    display: flex;
  }

  .block_perspectives_right .content {
    height: 100%;
    width: 80%;
    padding: 5%;
    background-color: black;
  }

  .block_perspectives_right .content h3 {
    margin: 0;
    color: #F0BF0C;
    font-size: 1.5277777778vw;
    margin: 0.6944444444vw 0;
    padding: 0;
  }

  .block_perspectives_right .content p {
    margin: 0;
    color: white;
    margin: 0.6944444444vw 0;
    padding: 0;
    font-size: 0.9722222222vw;
  }

  .block_perspectives_right .content .button {
    display: flex;
    display: flex;
    align-items: center;
    margin: 0.6944444444vw 0;
  }

  .block_perspectives_right .content .button button {
    background-color: #F0BF0C;
    color: black;
    border: none;
    padding: 0.6944444444vw;
    width: 100%;
    font-weight: bold;
    font-size: 1.1805555556vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_perspectives_right .content .button button:hover {
    background-color: white;
  }

  .block_partners {
    padding: 2% 0;
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  }

  .block_partners .container .row {
    display: block;
  }

  .block_partners .container .row h3 {
    padding: 2% 0;
    font-size: 1.7361111111vw;
  }

  .block_partners .container .row div {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  .block_partners .container .row div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .backgroundImage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }

  .backgroundImage:nth-child(1) {
    z-index: -3;
  }

  .backgroundImage:nth-child(2) {
    z-index: -2;
    top: 100vh;
  }

  .backgroundImage:nth-child(3) {
    z-index: -1;
    top: 100vh;
  }

  .block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    font-family: "Ropa Sans", sans-serif;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .block_inner {
    width: 100%;
    padding-top: 10%;
    display: flex;
    display: flex;
    z-index: 1;
  }

  .block_inner_left {
    width: 100%;
    padding-left: 15%;
  }

  .block_inner_left .img img {
    cursor: pointer;
  }

  .block_inner_left .img_spanChange {
    color: white;
    font-size: 1.3671875vw;
    padding: 0 0.9765625vw;
  }

  .block_inner_left .img_block {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_left .img .pause {
    display: flex;
    display: flex;
    margin: 0 0.9765625vw;
    cursor: pointer;
  }

  .block_inner_left .img .pause div {
    height: 1.7578125vw;
    width: 0.29296875vw !important;
    margin: 0px 0.1953125vw;
    background-color: white;
  }

  .block_inner_left .img .loader {
    width: 15.625vw;
    background-color: white;
    height: 0.29296875vw;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
  }

  .block_inner_left .img .loader .navigator {
    position: relative;
    left: 0;
    bottom: 0;
    width: 1.26953125vw !important;
    height: 1.26953125vw;
    border-radius: 50%;
    background-color: white;
  }

  .block_inner_left .img div {
    margin: 0;
  }

  .block_inner_left div {
    margin: 5% 0;
  }

  .block_inner_left .content {
    width: 60%;
    text-align: left;
  }

  .block_inner_left .content span {
    font-size: 5.37109375vw;
    color: white;
  }

  .block_inner_left .button {
    width: 30%;
    border: none;
  }

  .block_inner_left .button button {
    border: none;
    background-color: #F0BF0C;
    color: black;
    padding: 0.9765625vw;
    width: 100%;
    font-weight: bold;
    font-size: 1.66015625vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_inner_left .button button:hover {
    background-color: white;
  }

  .block_inner_right {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_right .content span {
    color: white;
    padding: 0.9765625vw 0;
    display: inline-block;
  }

  .block_inner_right .content .swiper .active {
    background-color: white;
  }

  .block_inner_right .content .swiper_item {
    margin: 0 auto;
    height: 8.10546875vw;
    background-color: rgba(255, 255, 255, 0.15);
    width: 0.9765625vw;
    transition: 0.6s;
    cursor: pointer !important;
  }

  .block_inner_right .content .swiper_item:hover {
    background-color: white;
  }

  .block_inner_logos {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.953125vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_logos img {
    margin: 1.953125vw;
  }

  .block_images {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
  }

  .block_images_main {
    height: 43.75vw;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    position: relative;
  }

  .block_images_main .inner_content {
    display: flex;
    display: flex;
    transform: scale(0, 0);
    padding-left: 5%;
    height: 100%;
    padding-top: 5%;
    transition: 0.6s;
    padding-bottom: 5%;
    align-items: center;
  }

  .block_images_main .inner_content .content {
    background-color: white;
    width: 50%;
    height: 80%;
    position: relative;
  }

  .block_images_main .inner_content .content_block {
    height: 33.33%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_images_main .inner_content .content_block div {
    text-align: center;
    font-size: 1.7578125vw;
  }

  .block_images_main .inner_content .content_block div span {
    font-size: 3.515625vw;
    color: #F0BF0C;
  }

  .block_images_main .text {
    color: white;
    font-size: 2.9296875vw;
    position: absolute;
    width: 80%;
    bottom: 1.953125vw;
    right: 1.953125vw;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }

  .block_images_main:nth-child(1) {
    width: 40%;
  }

  .block_images_main:nth-child(1) .inner_content {
    transform: scale(1, 1);
  }

  .block_perspectives {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
  }

  .block_perspectives .row {
    display: flex;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }

  .block_perspectives .row:before,
  .block_perspectives .row:after {
    display: none;
  }

  .block_perspectives_left {
    display: flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .block_perspectives_left .content .list_content {
    position: relative;
    padding: 0.09765625vw 10%;
    margin: 5% 0;
  }

  .block_perspectives_left .content .list_content div h3 {
    padding: 0;
    margin: 0.9765625vw 0;
  }

  .block_perspectives_left .content .list_content img {
    position: absolute;
    left: 0;
    top: 15%;
  }

  .block_perspectives_left .content h3 {
    font-size: 2.5390625vw;
  }

  .block_perspectives_right {
    width: 50%;
    display: flex;
    display: flex;
  }

  .block_perspectives_right .content {
    height: 100%;
    width: 80%;
    padding: 5%;
    background-color: black;
  }

  .block_perspectives_right .content h3 {
    margin: 0;
    color: #F0BF0C;
    font-size: 2.1484375vw;
    margin: 0.9765625vw 0;
    padding: 0;
  }

  .block_perspectives_right .content p {
    margin: 0;
    color: white;
    margin: 0.9765625vw 0;
    padding: 0;
    font-size: 1.3671875vw;
  }

  .block_perspectives_right .content .button {
    display: flex;
    display: flex;
    align-items: center;
    margin: 0.9765625vw 0;
  }

  .block_perspectives_right .content .button button {
    background-color: #F0BF0C;
    color: black;
    border: none;
    padding: 0.9765625vw;
    width: 100%;
    font-weight: bold;
    font-size: 1.66015625vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_perspectives_right .content .button button:hover {
    background-color: white;
  }

  .block_partners {
    padding: 2% 0;
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  }

  .block_partners .container .row {
    display: block;
  }

  .block_partners .container .row h3 {
    padding: 2% 0;
    font-size: 2.44140625vw;
  }

  .block_partners .container .row div {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  .block_partners .container .row div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .backgroundImage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }

  .backgroundImage:nth-child(1) {
    z-index: -3;
  }

  .backgroundImage:nth-child(2) {
    z-index: -2;
    top: 100vh;
  }

  .backgroundImage:nth-child(3) {
    z-index: -1;
    top: 100vh;
  }

  .block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    font-family: "Ropa Sans", sans-serif;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .block_inner {
    width: 100%;
    padding-top: 10%;
    display: flex;
    display: flex;
    z-index: 1;
  }

  .block_inner_left {
    width: 100%;
    padding-left: 15%;
  }

  .block_inner_left .img img {
    cursor: pointer;
  }

  .block_inner_left .img_spanChange {
    color: white;
    font-size: 1.8229166667vw;
    padding: 0 1.3020833333vw;
  }

  .block_inner_left .img_block {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_left .img .pause {
    display: flex;
    display: flex;
    margin: 0 1.3020833333vw;
    cursor: pointer;
  }

  .block_inner_left .img .pause div {
    height: 2.34375vw;
    width: 0.390625vw !important;
    margin: 0px 0.2604166667vw;
    background-color: white;
  }

  .block_inner_left .img .loader {
    width: 20.8333333333vw;
    background-color: white;
    height: 0.390625vw;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
  }

  .block_inner_left .img .loader .navigator {
    position: relative;
    left: 0;
    bottom: 0;
    width: 1.6927083333vw !important;
    height: 1.6927083333vw;
    border-radius: 50%;
    background-color: white;
  }

  .block_inner_left .img div {
    margin: 0;
  }

  .block_inner_left div {
    margin: 5% 0;
  }

  .block_inner_left .content {
    width: 60%;
    text-align: left;
  }

  .block_inner_left .content span {
    font-size: 7.1614583333vw;
    color: white;
  }

  .block_inner_left .button {
    width: 30%;
    border: none;
  }

  .block_inner_left .button button {
    border: none;
    background-color: #F0BF0C;
    color: black;
    padding: 1.3020833333vw;
    width: 100%;
    font-weight: bold;
    font-size: 2.2135416667vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_inner_left .button button:hover {
    background-color: white;
  }

  .block_inner_right {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_right .content span {
    color: white;
    padding: 1.3020833333vw 0;
    display: inline-block;
  }

  .block_inner_right .content .swiper .active {
    background-color: white;
  }

  .block_inner_right .content .swiper_item {
    margin: 0 auto;
    height: 10.8072916667vw;
    background-color: rgba(255, 255, 255, 0.15);
    width: 1.3020833333vw;
    transition: 0.6s;
    cursor: pointer !important;
  }

  .block_inner_right .content .swiper_item:hover {
    background-color: white;
  }

  .block_inner_logos {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.6041666667vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_logos img {
    margin: 2.6041666667vw;
  }

  .block_images {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
  }

  .block_images_main {
    height: 58.3333333333vw;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    position: relative;
  }

  .block_images_main .inner_content {
    display: flex;
    display: flex;
    transform: scale(0, 0);
    padding-left: 5%;
    height: 100%;
    padding-top: 5%;
    transition: 0.6s;
    padding-bottom: 5%;
    align-items: center;
  }

  .block_images_main .inner_content .content {
    background-color: white;
    width: 50%;
    height: 80%;
    position: relative;
  }

  .block_images_main .inner_content .content_block {
    height: 33.33%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_images_main .inner_content .content_block div {
    text-align: center;
    font-size: 2.34375vw;
  }

  .block_images_main .inner_content .content_block div span {
    font-size: 4.6875vw;
    color: #F0BF0C;
  }

  .block_images_main .text {
    color: white;
    font-size: 3.90625vw;
    position: absolute;
    width: 80%;
    bottom: 2.6041666667vw;
    right: 2.6041666667vw;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }

  .block_images_main:nth-child(1) {
    width: 40%;
  }

  .block_images_main:nth-child(1) .inner_content {
    transform: scale(1, 1);
  }

  .block_perspectives {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
  }

  .block_perspectives .row {
    display: flex;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }

  .block_perspectives .row:before,
  .block_perspectives .row:after {
    display: none;
  }

  .block_perspectives_left {
    display: flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .block_perspectives_left .content .list_content {
    position: relative;
    padding: 0.1302083333vw 10%;
    margin: 5% 0;
  }

  .block_perspectives_left .content .list_content div h3 {
    padding: 0;
    margin: 1.3020833333vw 0;
  }

  .block_perspectives_left .content .list_content img {
    position: absolute;
    left: 0;
    top: 15%;
  }

  .block_perspectives_left .content h3 {
    font-size: 3.3854166667vw;
  }

  .block_perspectives_right {
    width: 50%;
    display: flex;
    display: flex;
  }

  .block_perspectives_right .content {
    height: 100%;
    width: 80%;
    padding: 5%;
    background-color: black;
  }

  .block_perspectives_right .content h3 {
    margin: 0;
    color: #F0BF0C;
    font-size: 2.8645833333vw;
    margin: 1.3020833333vw 0;
    padding: 0;
  }

  .block_perspectives_right .content p {
    margin: 0;
    color: white;
    margin: 1.3020833333vw 0;
    padding: 0;
    font-size: 1.8229166667vw;
  }

  .block_perspectives_right .content .button {
    display: flex;
    display: flex;
    align-items: center;
    margin: 1.3020833333vw 0;
  }

  .block_perspectives_right .content .button button {
    background-color: #F0BF0C;
    color: black;
    border: none;
    padding: 1.3020833333vw;
    width: 100%;
    font-weight: bold;
    font-size: 2.2135416667vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_perspectives_right .content .button button:hover {
    background-color: white;
  }

  .block_partners {
    padding: 2% 0;
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  }

  .block_partners .container .row {
    display: block;
  }

  .block_partners .container .row h3 {
    padding: 2% 0;
    font-size: 3.2552083333vw;
  }

  .block_partners .container .row div {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  .block_partners .container .row div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .backgroundImage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }

  .backgroundImage:nth-child(1) {
    z-index: -3;
  }

  .backgroundImage:nth-child(2) {
    z-index: -2;
    top: 100vh;
  }

  .backgroundImage:nth-child(3) {
    z-index: -1;
    top: 100vh;
  }

  .block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    font-family: "Ropa Sans", sans-serif;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .block_inner {
    width: 100%;
    padding-top: 10%;
    display: flex;
    display: flex;
    z-index: 1;
  }

  .block_inner_left {
    width: 100%;
    padding-left: 15%;
  }

  .block_inner_left .img img {
    cursor: pointer;
  }

  .block_inner_left .img_spanChange {
    color: white;
    font-size: 2.9166666667vw;
    padding: 0 2.0833333333vw;
  }

  .block_inner_left .img_block {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_left .img .pause {
    display: flex;
    display: flex;
    margin: 0 2.0833333333vw;
    cursor: pointer;
  }

  .block_inner_left .img .pause div {
    height: 3.75vw;
    width: 0.625vw !important;
    margin: 0px 0.4166666667vw;
    background-color: white;
  }

  .block_inner_left .img .loader {
    width: 33.3333333333vw;
    background-color: white;
    height: 0.625vw;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
  }

  .block_inner_left .img .loader .navigator {
    position: relative;
    left: 0;
    bottom: 0;
    width: 2.7083333333vw !important;
    height: 2.7083333333vw;
    border-radius: 50%;
    background-color: white;
  }

  .block_inner_left .img div {
    margin: 0;
  }

  .block_inner_left div {
    margin: 5% 0;
  }

  .block_inner_left .content {
    width: 60%;
    text-align: left;
  }

  .block_inner_left .content span {
    font-size: 11.4583333333vw;
    color: white;
  }

  .block_inner_left .button {
    width: 30%;
    border: none;
  }

  .block_inner_left .button button {
    border: none;
    background-color: #F0BF0C;
    color: black;
    padding: 2.0833333333vw;
    width: 100%;
    font-weight: bold;
    font-size: 3.5416666667vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_inner_left .button button:hover {
    background-color: white;
  }

  .block_inner_right {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_right .content span {
    color: white;
    padding: 2.0833333333vw 0;
    display: inline-block;
  }

  .block_inner_right .content .swiper .active {
    background-color: white;
  }

  .block_inner_right .content .swiper_item {
    margin: 0 auto;
    height: 17.2916666667vw;
    background-color: rgba(255, 255, 255, 0.15);
    width: 2.0833333333vw;
    transition: 0.6s;
    cursor: pointer !important;
  }

  .block_inner_right .content .swiper_item:hover {
    background-color: white;
  }

  .block_inner_logos {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4.1666666667vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_logos img {
    margin: 4.1666666667vw;
  }

  .block_images {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
  }

  .block_images_main {
    height: 93.3333333333vw;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    position: relative;
  }

  .block_images_main .inner_content {
    display: flex;
    display: flex;
    transform: scale(0, 0);
    padding-left: 5%;
    height: 100%;
    padding-top: 5%;
    transition: 0.6s;
    padding-bottom: 5%;
    align-items: center;
  }

  .block_images_main .inner_content .content {
    background-color: white;
    width: 50%;
    height: 80%;
    position: relative;
  }

  .block_images_main .inner_content .content_block {
    height: 33.33%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_images_main .inner_content .content_block div {
    text-align: center;
    font-size: 3.75vw;
  }

  .block_images_main .inner_content .content_block div span {
    font-size: 7.5vw;
    color: #F0BF0C;
  }

  .block_images_main .text {
    color: white;
    font-size: 6.25vw;
    position: absolute;
    width: 80%;
    bottom: 4.1666666667vw;
    right: 4.1666666667vw;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }

  .block_images_main:nth-child(1) {
    width: 40%;
  }

  .block_images_main:nth-child(1) .inner_content {
    transform: scale(1, 1);
  }

  .block_perspectives {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
  }

  .block_perspectives .row {
    display: flex;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }

  .block_perspectives .row:before,
  .block_perspectives .row:after {
    display: none;
  }

  .block_perspectives_left {
    display: flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .block_perspectives_left .content .list_content {
    position: relative;
    padding: 0.2083333333vw 10%;
    margin: 5% 0;
  }

  .block_perspectives_left .content .list_content div h3 {
    padding: 0;
    margin: 2.0833333333vw 0;
  }

  .block_perspectives_left .content .list_content img {
    position: absolute;
    left: 0;
    top: 15%;
  }

  .block_perspectives_left .content h3 {
    font-size: 5.4166666667vw;
  }

  .block_perspectives_right {
    width: 50%;
    display: flex;
    display: flex;
  }

  .block_perspectives_right .content {
    height: 100%;
    width: 80%;
    padding: 5%;
    background-color: black;
  }

  .block_perspectives_right .content h3 {
    margin: 0;
    color: #F0BF0C;
    font-size: 4.5833333333vw;
    margin: 2.0833333333vw 0;
    padding: 0;
  }

  .block_perspectives_right .content p {
    margin: 0;
    color: white;
    margin: 2.0833333333vw 0;
    padding: 0;
    font-size: 2.9166666667vw;
  }

  .block_perspectives_right .content .button {
    display: flex;
    display: flex;
    align-items: center;
    margin: 2.0833333333vw 0;
  }

  .block_perspectives_right .content .button button {
    background-color: #F0BF0C;
    color: black;
    border: none;
    padding: 2.0833333333vw;
    width: 100%;
    font-weight: bold;
    font-size: 3.5416666667vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_perspectives_right .content .button button:hover {
    background-color: white;
  }

  .block_partners {
    padding: 2% 0;
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  }

  .block_partners .container .row {
    display: block;
  }

  .block_partners .container .row h3 {
    padding: 2% 0;
    font-size: 5.2083333333vw;
  }

  .block_partners .container .row div {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  .block_partners .container .row div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 80px;
  }
}

@media screen and (max-width: 360px) {
  .backgroundImage {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
  }

  .backgroundImage:nth-child(1) {
    z-index: -3;
  }

  .backgroundImage:nth-child(2) {
    z-index: -2;
    top: 100vh;
  }

  .backgroundImage:nth-child(3) {
    z-index: -1;
    top: 100vh;
  }

  .block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    font-family: "Ropa Sans", sans-serif;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .block_inner {
    width: 100%;
    padding-top: 10%;
    display: flex;
    display: flex;
    z-index: 1;
  }

  .block_inner_left {
    width: 100%;
    padding-left: 15%;
  }

  .block_inner_left .img img {
    cursor: pointer;
  }

  .block_inner_left .img_spanChange {
    color: white;
    font-size: 3.8888888889vw;
    padding: 0 2.7777777778vw;
  }

  .block_inner_left .img_block {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_left .img .pause {
    display: flex;
    display: flex;
    margin: 0 2.7777777778vw;
    cursor: pointer;
  }

  .block_inner_left .img .pause div {
    height: 5vw;
    width: 0.8333333333vw !important;
    margin: 0px 0.5555555556vw;
    background-color: white;
  }

  .block_inner_left .img .loader {
    width: 44.4444444444vw;
    background-color: white;
    height: 0.8333333333vw;
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
  }

  .block_inner_left .img .loader .navigator {
    position: relative;
    left: 0;
    bottom: 0;
    width: 3.6111111111vw !important;
    height: 3.6111111111vw;
    border-radius: 50%;
    background-color: white;
  }

  .block_inner_left .img div {
    margin: 0;
  }

  .block_inner_left div {
    margin: 5% 0;
  }

  .block_inner_left .content {
    width: 60%;
    text-align: left;
  }

  .block_inner_left .content span {
    font-size: 15.2777777778vw;
    color: white;
  }

  .block_inner_left .button {
    width: 30%;
    border: none;
  }

  .block_inner_left .button button {
    border: none;
    background-color: #F0BF0C;
    color: black;
    padding: 2.7777777778vw;
    width: 100%;
    font-weight: bold;
    font-size: 4.7222222222vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_inner_left .button button:hover {
    background-color: white;
  }

  .block_inner_right {
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_right .content span {
    color: white;
    padding: 2.7777777778vw 0;
    display: inline-block;
  }

  .block_inner_right .content .swiper .active {
    background-color: white;
  }

  .block_inner_right .content .swiper_item {
    margin: 0 auto;
    height: 23.0555555556vw;
    background-color: rgba(255, 255, 255, 0.15);
    width: 2.7777777778vw;
    transition: 0.6s;
    cursor: pointer !important;
  }

  .block_inner_right .content .swiper_item:hover {
    background-color: white;
  }

  .block_inner_logos {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5.5555555556vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    display: flex;
    align-items: center;
  }

  .block_inner_logos img {
    margin: 5.5555555556vw;
  }

  .block_images {
    display: flex;
    display: flex;
    flex-wrap: nowrap;
  }

  .block_images_main {
    height: 124.4444444444vw;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s;
    background-color: black;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    position: relative;
  }

  .block_images_main .inner_content {
    display: flex;
    display: flex;
    transform: scale(0, 0);
    padding-left: 5%;
    height: 100%;
    padding-top: 5%;
    transition: 0.6s;
    padding-bottom: 5%;
    align-items: center;
  }

  .block_images_main .inner_content .content {
    background-color: white;
    width: 50%;
    height: 80%;
    position: relative;
  }

  .block_images_main .inner_content .content_block {
    height: 33.33%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block_images_main .inner_content .content_block div {
    text-align: center;
    font-size: 5vw;
  }

  .block_images_main .inner_content .content_block div span {
    font-size: 10vw;
    color: #F0BF0C;
  }

  .block_images_main .text {
    color: white;
    font-size: 8.3333333333vw;
    position: absolute;
    width: 80%;
    bottom: 5.5555555556vw;
    right: 5.5555555556vw;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }

  .block_images_main:nth-child(1) {
    width: 40%;
  }

  .block_images_main:nth-child(1) .inner_content {
    transform: scale(1, 1);
  }

  .block_perspectives {
    margin: 0 auto;
    background-color: white;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
  }

  .block_perspectives .row {
    display: flex;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }

  .block_perspectives .row:before,
  .block_perspectives .row:after {
    display: none;
  }

  .block_perspectives_left {
    display: flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .block_perspectives_left .content .list_content {
    position: relative;
    padding: 0.2777777778vw 10%;
    margin: 5% 0;
  }

  .block_perspectives_left .content .list_content div h3 {
    padding: 0;
    margin: 2.7777777778vw 0;
  }

  .block_perspectives_left .content .list_content img {
    position: absolute;
    left: 0;
    top: 15%;
  }

  .block_perspectives_left .content h3 {
    font-size: 7.2222222222vw;
  }

  .block_perspectives_right {
    width: 50%;
    display: flex;
    display: flex;
  }

  .block_perspectives_right .content {
    height: 100%;
    width: 80%;
    padding: 5%;
    background-color: black;
  }

  .block_perspectives_right .content h3 {
    margin: 0;
    color: #F0BF0C;
    font-size: 6.1111111111vw;
    margin: 2.7777777778vw 0;
    padding: 0;
  }

  .block_perspectives_right .content p {
    margin: 0;
    color: white;
    margin: 2.7777777778vw 0;
    padding: 0;
    font-size: 3.8888888889vw;
  }

  .block_perspectives_right .content .button {
    display: flex;
    display: flex;
    align-items: center;
    margin: 2.7777777778vw 0;
  }

  .block_perspectives_right .content .button button {
    background-color: #F0BF0C;
    color: black;
    border: none;
    padding: 2.7777777778vw;
    width: 100%;
    font-weight: bold;
    font-size: 4.7222222222vw;
    transition: 0.6s;
    cursor: pointer;
  }

  .block_perspectives_right .content .button button:hover {
    background-color: white;
  }

  .block_partners {
    padding: 2% 0;
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  }

  .block_partners .container .row {
    display: block;
  }

  .block_partners .container .row h3 {
    padding: 2% 0;
    font-size: 6.9444444444vw;
  }

  .block_partners .container .row div {
    display: flex;
    display: flex;
    justify-content: space-between;
  }

  .block_partners .container .row div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .block_inner_left {
    margin-top: 50% !important;
  }

  .player-video {
    bottom: 200px !important;
  }

  .block_images_main {
    width: 100%;
  }

  .block_images_main:nth-child(1) {
    width: 100%;
  }
}

.player-video {
  width: 110%;
  height: 110%;
  position: absolute;
  left: -5%;
  bottom: -5%;
  z-index: 0;
}

