/* .global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
}

.global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
} */

* {
  font-family: "DIN Pro";
}

html {
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

/* .global_title h3:after {
  top: 50%;
}

.global_title h3:before {
  top: 50%;
} */

ul {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  z-index: 1001;
}

.header_inner {
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header_inner .burger {
  display: none;
  padding: 5px;
}

.header_inner .burger div {
  height: 4px;
  width: 28px;
  margin: 5px;
  background-color: #F0BF0C;
}

.header_inner_menu {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_inner_menu ul {
  margin: 0;
  text-align: right;
}

.header_inner_menu ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

.header_inner_menu ul li.nav-item_language {
    padding: 0;
}

.header_inner_menu ul li a {
  text-decoration: none;
  color: white;
  transition: 0.6s;
  font-size: 1.1805555556vw;
}

.header_inner_menu ul li .active {
  color: #F0BF0C;
}

.header_inner_menu ul li a:hover {
  color: #F0BF0C;
}

.modal-body {
  position: fixed !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1500;
  justify-content: center;
}

.modal-body .modal-inner {
  padding: 3% 5%;
  position: relative;
  background-color: white;
}

.modal-body .modal-inner .fa {
  position: absolute;
  top: 20px;
  cursor: pointer;
  font-size: 16px;
  right: 20px;
}

.modal-body .modal-inner form p {
  position: relative;
  margin: 10% 0;
}

.modal-body .modal-inner form p label,
.modal-body .modal-inner form p input {
  display: block;
  width: 100%;
}

.modal-body .modal-inner form p input,
.modal-body .modal-inner form p textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}

.modal-body .modal-inner form p textarea {
  height: 100px;
}

.modal-body .modal-inner form p textarea:focus {
  border-bottom: 1px solid #F0BF0C;
}

.modal-body .modal-inner form p input {
  transition: 0.3s all;
}

.modal-body .modal-inner form p input[type=submit] {
  border: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px;
}

.modal-body .modal-inner form p input:hover {
  background-color: white;
  color: black;
}

.modal-body .modal-inner form p input:focus {
  border-bottom: 1px solid #F0BF0C;
}

.modal-body .modal-inner form p input:focus::-webkit-input-placeholder {
  color: #F0BF0C;
}

.footer {
  background-color: black;
  color: white;
}

.footer_inner {
  background-color: #202020;
  padding: 25px;
}

.footer_inner .row {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer_inner_left {
  width: 20%;
}

.footer_inner_left .content {
  font-size: 0.9722222222vw;
}

.footer_inner_right {
  width: 80%;
  text-align: right;
}

.footer_inner_right p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.footer_inner_right button {
  background-color: #000000;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 0.6s;
  margin: 5px 0;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.footer_inner_right button:hover {
  background-color: white;
  color: #000000;
}

.footer_outer .row {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
}

.footer_outer .content {
  width: 100%;
  text-align: right;
  font-size: 0.8333333333vw;
}

.footer_outer .content span {
  font-size: 0.8333333333vw;
  color: gray;
}

.adaptive_menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  left: 0;
  display: none;
  bottom: 0;
}

.adaptive_menu i {
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin: 5px;
}

.adaptive_menu ul {
  margin: 0;
  height: 100vh;
  background-color: black;
}

.adaptive_menu ul li {
  padding: 10px;
  text-align: center;
}

.adaptive_menu ul li a {
  color: white;
}

.adaptive_menu ul li .active {
  color: #F0BF0C;
}

@media screen and (max-width: 720px) {
  .header_inner_menu {
    display: none !important;
  }

  .burger {
    display: block !important;
  }

  .block_images {
    display: block !important;
  }

  .block_perspectives .container .row {
    display: block !important;
  }

  .block_perspectives .container .row div {
    width: 100%;
  }

  .block_perspectives_right {
    display: block !important;
  }

  .block_perspectives .image {
    text-align: center;
  }
}

@media screen and (max-width: 583px) {
  .block_inner_left {
    padding: 0 !important;
  }

  .block_inner_left div {
    width: 100% !important;
  }

  .block_inner_left .button {
    width: 80% !important;
  }

  .block_partners .container .row div {
    flex-wrap: wrap;
  }

  .block_partners .container .row div img {
    display: block;
    margin: 5% auto;
  }

  .row {
    padding: 3% !important;
  }
}

@media screen and (max-width: 499px) {
  .block_perspectives_left {
    display: block !important;
  }

  .block_perspectives_left .image {
    text-align: center !important;
  }

  .block_perspectives_right {
    display: block;
  }

  .block_perspectives_right .content h3 {
    margin: 3% 0 !important;
  }

  .block_perspectives_right .content p {
    margin: 3% 0 !important;
  }

  .block_perspectives_right .content .button {
    margin: 3% 0 !important;
  }
}
.lines {
    justify-content: space-between;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.line {
    width: 1px;
    height: 830px;
    background-color: rgba(255, 255, 255, 0.43);
}

