@media screen and (max-width: 1024px) {
  .global_title h3 {
    font-size: get-vw-1024(30px);
    width: 45%;
    padding-top: get-vw-1024(32px);
    padding-bottom: get-vw-1024(32px);
  }

  .global_title h3::after {
    height: get-vw-1024(1px);
    width: get-vw-1024(115px);
  }

  .global_title h3::before {
    height: get-vw-1024(1px);
    width: get-vw-1024(115px);
  }

  .news_bg {
    min-height: get-vw-1024(499px);
  }

  .news_pagination {
    margin-top: get-vw-1024(40px);
    margin-bottom: get-vw-1024(120px);
  }

  .news_pagination a {
    width: get-vw-1024(40px);
    height: get-vw-1024(40px);
    font-size: get-vw-1024(14px);
    line-height: get-vw-1024(17px);
    margin-left: get-vw-1024(16px);
  }

  .news_content {
    width: 100%;
    margin-top: get-vw-1024(-72.5px);
  }

  .news_content_items {
    min-height: get-vw-1024(240px);
    margin-bottom: get-vw-1024(24px);
    margin-top: get-vw-1024(24px);
  }

  .news_content_items__img img {
    width: get-vw-1024(490px);
    min-height: get-vw-1024(240px);
  }

  .news_content_items__descr {
    padding: get-vw-1024(32px);
  }

  .news_content_items__descr__title {
    font-size: get-vw-1024(18px);
  }

  .news_content_items__descr__content {
    font-size: get-vw-1024(16px);
  }

  .news_content_items__descr__content::after {
    bottom: get-vw-1024(-25px);
  }

  .news_content_items__descr__date {
    font-size: get-vw-1024(12px);
    padding-top: get-vw-1024(30px);
  }

  .services_content {
    padding-bottom: get-vw-1024(120px);
  }

  .services_content p {
    font-size: get-vw-1024(16px);
  }

  .services_content .services_content_big {
    min-height: get-vw-1024(499px);
    margin-top: get-vw-1024(38px);
  }

  .services_content .services_content_big .white_stealth {
    padding-top: get-vw-1024(24px);
    padding-left: get-vw-1024(54px);
    padding-right: get-vw-1024(54px);
    min-height: get-vw-1024(499px);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: get-vw-1024(30px);
    padding-bottom: get-vw-1024(24px);
  }

  .services_content .services_content_big .white_stealth p {
    font-size: get-vw-1024(16px);
  }

  .services_content .services_content_mini {
    min-height: get-vw-1024(300px);
    margin-top: get-vw-1024(38px);
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: get-vw-1024(24px);
    padding-left: get-vw-1024(54px);
    padding-right: get-vw-1024(54px);
    min-height: get-vw-1024(300px);
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: get-vw-1024(30px);
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: get-vw-1024(16px);
  }

  .news_inner_bg {
    min-height: get-vw-1024(732px);
  }

  .news_inner_content {
    width: 100%;
    margin-top: get-vw-1024(-72.5px);
  }

  .news_inner_content_bottom {
    margin-top: get-vw-1024(135px);
    margin-bottom: get-vw-1024(42px);
  }

  .news_inner_content_bottom h3 {
    font-size: get-vw-1024(24px);
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: get-vw-1024(16px);
    padding-top: get-vw-1024(40px);
  }

  .news_inner_content_descr img {
    min-height: get-vw-1024(499px);
    padding-top: get-vw-1024(40px);
  }

  .news_inner_content_title p {
    font-size: get-vw-1024(18px);
  }

  .news_inner_content_title h3 {
    font-size: get-vw-1024(30px);
    width: 65%;
    padding-top: get-vw-1024(32px);
    padding-bottom: get-vw-1024(10px);
  }

  .news_inner_content_title h3::after {
    height: get-vw-1024(1px);
    width: get-vw-1024(115px);
    right: get-vw-1024(-100px);
  }

  .news_inner_content_title h3::before {
    height: get-vw-1024(1px);
    width: get-vw-1024(115px);
    left: get-vw-1024(-100px);
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: get-vw-1024(120px);
  }

  .news_inner_footer .row {
    flex-wrap: wrap !important;
  }

  .news_inner_footer_items_descr {
    padding-top: get-vw-1024(18px);
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: get-vw-1024(18px);
  }

  .news_inner_footer_items_descr p {
    font-size: get-vw-1024(16px);
  }

  .news_inner_footer_items_date {
    padding-right: get-vw-1024(20px);
    padding-top: get-vw-1024(10px);
  }

  .news_inner_footer_items_date span {
    font-size: get-vw-1024(12px);
  }

  .park_content {
    padding-bottom: get-vw-1024(120px);
  }

  .park_content p {
    font-size: get-vw-1024(16px);
  }

  .park_content_img {
    padding-top: get-vw-1024(32px);
    padding-bottom: get-vw-1024(32px);
  }

  .park_content_img img {
    width: get-vw-1024(308px);
    min-height: get-vw-1024(231px);
  }

  .park_content_single_img img {
    min-height: get-vw-1024(320px);
  }

  .park_content_double_img {
    padding-top: get-vw-1024(32px);
    padding-bottom: get-vw-1024(32px);
  }

  .park_content_double_img img {
    width: get-vw-1024(466px);
    min-height: get-vw-1024(350px);
  }
}

@media screen and (max-width: 768px) {
  .global_title h3 {
    font-size: get-vw-768(30px);
    width: 45%;
    padding-top: get-vw-768(32px);
    padding-bottom: get-vw-768(32px);
  }

  .global_title h3::after {
    height: get-vw-768(1px);
    width: get-vw-768(115px);
    right: -25px;
  }

  .global_title h3::before {
    height: get-vw-768(1px);
    width: get-vw-768(115px);
    left: -25px;
  }

  .news_bg {
    min-height: get-vw-768(499px);
  }

  .news_pagination {
    margin-top: get-vw-768(40px);
    margin-bottom: get-vw-768(120px);
  }

  .news_pagination a {
    width: get-vw-768(40px);
    height: get-vw-768(40px);
    font-size: get-vw-768(14px);
    line-height: get-vw-768(17px);
    margin-left: get-vw-768(16px);
  }

  .news_content {
    width: 100%;
    margin-top: get-vw-768(-72.5px);
  }

  .news_content_items {
    min-height: get-vw-768(240px);
    margin-bottom: get-vw-768(24px);
    margin-top: get-vw-768(24px);
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: get-vw-768(240px);
  }

  .news_content_items__descr {
    padding: get-vw-768(32px);
  }

  .news_content_items__descr__title {
    font-size: get-vw-768(18px);
  }

  .news_content_items__descr__content {
    font-size: get-vw-768(16px);
  }

  .news_content_items__descr__content::after {
    bottom: get-vw-768(-25px);
  }

  .news_content_items__descr__date {
    font-size: get-vw-768(12px);
    padding-top: get-vw-768(30px);
  }

  .services_content {
    padding-bottom: get-vw-768(120px);
  }

  .services_content p {
    font-size: get-vw-768(16px);
  }

  .services_content .services_content_big {
    min-height: get-vw-768(499px);
    margin-top: get-vw-768(38px);
  }

  .services_content .services_content_big .white_stealth {
    padding-top: get-vw-768(24px);
    padding-left: get-vw-768(54px);
    padding-right: get-vw-768(54px);
    min-height: get-vw-768(499px);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: get-vw-768(30px);
    padding-bottom: get-vw-768(24px);
  }

  .services_content .services_content_big .white_stealth p {
    font-size: get-vw-768(16px);
  }

  .services_content .services_content_mini {
    min-height: get-vw-768(300px);
    margin-top: get-vw-768(38px);
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: get-vw-768(24px);
    padding-left: get-vw-768(54px);
    padding-right: get-vw-768(54px);
    min-height: get-vw-768(300px);
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: get-vw-768(30px);
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: get-vw-768(16px);
  }

  .news_inner_bg {
    min-height: get-vw-768(732px);
  }

  .news_inner_content {
    width: 100%;
    margin-top: get-vw-768(-72.5px);
  }

  .news_inner_content_bottom {
    margin-top: get-vw-768(135px);
    margin-bottom: get-vw-768(42px);
  }

  .news_inner_content_bottom h3 {
    font-size: get-vw-768(24px);
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: get-vw-768(16px);
    padding-top: get-vw-768(40px);
  }

  .news_inner_content_descr img {
    min-height: get-vw-768(499px);
    padding-top: get-vw-768(40px);
  }

  .news_inner_content_title p {
    font-size: get-vw-768(18px);
  }

  .news_inner_content_title h3 {
    font-size: get-vw-768(30px);
    width: 65%;
    padding-top: get-vw-768(32px);
    padding-bottom: get-vw-768(10px);
  }

  .news_inner_content_title h3::after {
    height: get-vw-768(1px);
    width: get-vw-768(115px);
    right: get-vw-768(-100px);
  }

  .news_inner_content_title h3::before {
    height: get-vw-768(1px);
    width: get-vw-768(115px);
    left: get-vw-768(-100px);
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: get-vw-768(120px);
  }

  .news_inner_footer_items_descr {
    padding-top: get-vw-768(18px);
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: get-vw-768(18px);
  }

  .news_inner_footer_items_descr p {
    font-size: get-vw-768(16px);
  }

  .news_inner_footer_items_date {
    padding-right: get-vw-768(20px);
    padding-top: get-vw-768(10px);
  }

  .news_inner_footer_items_date span {
    font-size: get-vw-768(12px);
  }

  .park_content {
    padding-bottom: get-vw-768(120px);
  }

  .park_content p {
    font-size: get-vw-768(16px);
  }

  .park_content_img {
    padding-top: get-vw-768(32px);
    padding-bottom: get-vw-768(32px);
    display: flex;
    flex-direction: column;
  }

  .park_content_img img {
    width: 100%;
    margin-top: 15px;
    min-height: get-vw-768(231px);
  }

  .park_content_single_img img {
    width: 100%;
    min-height: get-vw-768(320px);
  }

  .park_content_double_img {
    display: flex;
    flex-direction: column;
    padding-top: get-vw-768(32px);
    padding-bottom: get-vw-768(32px);
  }

  .park_content_double_img img {
    width: 100%;
    margin-top: 15px;
    min-height: get-vw-768(350px);
  }
}

@media screen and (max-width: 480px) {
  .global_title h3 {
    font-size: get-vw-480(30px);
    width: 45%;
    padding-top: get-vw-480(32px);
    padding-bottom: get-vw-480(32px);
    text-align: center;
  }

  .global_title h3::after {
    height: get-vw-480(1px);
    width: get-vw-480(115px);
    right: -65px;
  }

  .global_title h3::before {
    height: get-vw-480(1px);
    width: get-vw-480(115px);
    left: -65px;
  }

  .news_bg {
    min-height: get-vw-480(499px);
  }

  .news_pagination {
    margin-top: get-vw-480(40px);
    margin-bottom: get-vw-480(120px);
  }

  .news_pagination a {
    width: get-vw-480(40px);
    height: get-vw-480(40px);
    font-size: get-vw-480(14px);
    line-height: get-vw-480(17px);
    margin-left: get-vw-480(16px);
  }

  .news_content {
    width: 100%;
    margin-top: get-vw-480(-72.5px);
  }

  .news_content_items {
    min-height: get-vw-480(240px);
    margin-bottom: get-vw-480(24px);
    margin-top: get-vw-480(24px);
    display: block;
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: get-vw-480(240px);
  }

  .news_content_items__descr {
    padding: get-vw-480(7px);
  }

  .news_content_items__descr__title {
    font-size: get-vw-480(18px) !important;
  }

  .news_content_items__descr__content {
    font-size: get-vw-480(16px);
  }

  .news_content_items__descr__content::after {
    bottom: get-vw-480(-25px);
  }

  .news_content_items__descr__date {
    font-size: get-vw-480(12px);
    padding-top: get-vw-480(30px);
  }

  .services_content {
    padding-bottom: get-vw-480(120px);
  }

  .services_content p {
    font-size: get-vw-480(16px);
  }

  .services_content .services_content_big {
    min-height: get-vw-480(499px);
    margin-top: get-vw-480(38px);
  }

  .services_content .services_content_big .white_stealth {
    padding-top: get-vw-480(24px);
    padding-left: 0px;
    padding-right: 0px;
    min-height: get-vw-480(499px);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: get-vw-480(30px);
    padding-bottom: get-vw-480(24px);
  }

  .services_content .services_content_big .white_stealth p {
    font-size: get-vw-480(16px);
    width: 87%;
  }

  .services_content .services_content_mini {
    min-height: get-vw-480(300px);
    margin-top: get-vw-480(38px);
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: get-vw-480(24px);
    padding-left: get-vw-480(0px);
    padding-right: get-vw-480(0px);
    min-height: get-vw-480(300px);
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: get-vw-480(30px);
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: get-vw-480(16px);
    width: 87%;
  }

  .news_inner_bg {
    min-height: get-vw-480(732px);
  }

  .news_inner_content {
    width: 100%;
    margin-top: get-vw-480(-72.5px);
  }

  .news_inner_content_bottom {
    margin-top: get-vw-480(135px);
    margin-bottom: get-vw-480(42px);
  }

  .news_inner_content_bottom h3 {
    font-size: get-vw-480(24px);
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: get-vw-480(16px);
    padding-top: get-vw-480(40px);
  }

  .news_inner_content_descr img {
    min-height: get-vw-480(499px);
    padding-top: get-vw-480(40px);
  }

  .news_inner_content_title p {
    font-size: get-vw-480(18px);
  }

  .news_inner_content_title h3 {
    font-size: get-vw-480(30px);
    width: 65%;
    padding-top: get-vw-480(32px);
    padding-bottom: get-vw-480(10px);
  }

  .news_inner_content_title h3::after {
    display: none;
  }

  .news_inner_content_title h3::before {
    display: none;
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: get-vw-480(120px);
  }

  .news_inner_footer_items_descr {
    padding-top: get-vw-480(18px);
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: get-vw-480(18px);
  }

  .news_inner_footer_items_descr p {
    font-size: get-vw-480(16px);
  }

  .news_inner_footer_items_date {
    padding-right: get-vw-480(20px);
    padding-top: get-vw-480(10px);
  }

  .news_inner_footer_items_date span {
    font-size: get-vw-480(12px);
  }

  .park_content {
    padding-bottom: get-vw-480(120px);
  }

  .park_content p {
    font-size: get-vw-480(16px);
  }

  .park_content_img {
    display: flex;
    flex-direction: column;
    padding-top: get-vw-480(32px);
    padding-bottom: get-vw-480(32px);
  }

  .park_content_img img {
    width: 100%;
    min-height: get-vw-480(231px);
  }

  .park_content_single_img img {
    width: 100%;
    min-height: get-vw-480(320px);
  }

  .park_content_double_img {
    display: flex;
    flex-direction: column;
    padding-top: get-vw-480(32px);
    padding-bottom: get-vw-480(32px);
  }

  .park_content_double_img img {
    width: 100%;
    min-height: get-vw-480(350px);
  }
}

@media screen and (max-width: 360px) {
  .global_title h3 {
    font-size: get-vw-360(30px);
    width: 45%;
    padding-top: get-vw-360(32px);
    padding-bottom: get-vw-360(32px);
    text-align: center;
  }

  .global_title h3::after {
    height: get-vw-360(1px);
    width: get-vw-360(115px);
    right: -95px;
  }

  .global_title h3::before {
    height: get-vw-360(1px);
    width: get-vw-360(115px);
    left: -95px;
  }

  .news_bg {
    min-height: get-vw-360(499px);
    background-position: 45% 100%;
  }

  .news_pagination {
    margin-top: get-vw-360(40px);
    margin-bottom: get-vw-360(120px);
  }

  .news_pagination a {
    width: get-vw-360(40px);
    height: get-vw-360(40px);
    font-size: get-vw-360(14px);
    line-height: get-vw-360(17px);
    margin-left: get-vw-360(16px);
  }

  .news_content {
    width: 100%;
    margin-top: get-vw-360(-72.5px);
  }

  .news_content_items {
    min-height: get-vw-360(240px);
    margin-bottom: get-vw-360(24px);
    margin-top: get-vw-360(24px);
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: get-vw-360(240px);
  }

  .news_content_items__descr {
    padding: get-vw-360(7px);
  }

  .news_content_items__descr__title {
    font-size: get-vw-360(18px);
  }

  .news_content_items__descr__content {
    font-size: get-vw-360(16px);
  }

  .news_content_items__descr__content::after {
    bottom: get-vw-360(-25px);
  }

  .news_content_items__descr__date {
    font-size: get-vw-360(12px);
    padding-top: get-vw-360(30px);
  }

  .services_content {
    padding-bottom: get-vw-360(120px);
  }

  .services_content p {
    font-size: get-vw-360(16px);
  }

  .services_content .services_content_big {
    min-height: get-vw-360(499px);
    margin-top: get-vw-360(38px);
  }

  .services_content .services_content_big .white_stealth {
    padding-top: get-vw-360(24px);
    padding-left: get-vw-360(54px);
    padding-right: get-vw-360(54px);
    min-height: get-vw-360(499px);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: get-vw-360(30px);
    padding-bottom: get-vw-360(24px);
  }

  .services_content .services_content_big .white_stealth p {
    font-size: get-vw-360(16px);
  }

  .services_content .services_content_mini {
    min-height: get-vw-360(300px);
    margin-top: get-vw-360(38px);
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: get-vw-360(24px);
    padding-left: get-vw-360(54px);
    padding-right: get-vw-360(54px);
    min-height: get-vw-360(300px);
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: get-vw-360(30px);
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: get-vw-360(16px);
  }

  .news_inner_bg {
    min-height: get-vw-360(732px);
  }

  .news_inner_content {
    width: 100%;
    margin-top: get-vw-360(-72.5px);
  }

  .news_inner_content_bottom {
    margin-top: get-vw-360(135px);
    margin-bottom: get-vw-360(42px);
  }

  .news_inner_content_bottom h3 {
    font-size: get-vw-360(24px);
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: get-vw-360(16px);
    padding-top: get-vw-360(40px);
  }

  .news_inner_content_descr img {
    min-height: get-vw-360(499px);
    padding-top: get-vw-360(40px);
  }

  .news_inner_content_title p {
    font-size: get-vw-360(18px);
  }

  .news_inner_content_title h3 {
    font-size: get-vw-360(30px);
    width: 65%;
    padding-top: get-vw-360(32px);
    padding-bottom: get-vw-360(10px);
  }

  .news_inner_content_title h3::after {
    height: get-vw-360(1px);
    width: get-vw-360(115px);
    right: get-vw-360(-100px);
  }

  .news_inner_content_title h3::before {
    height: get-vw-360(1px);
    width: get-vw-360(115px);
    left: get-vw-360(-100px);
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: get-vw-360(120px);
  }

  .news_inner_footer_items_descr {
    padding-top: get-vw-360(18px);
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: get-vw-360(18px);
  }

  .news_inner_footer_items_descr p {
    font-size: get-vw-360(16px);
  }

  .news_inner_footer_items_date {
    padding-right: get-vw-360(20px);
    padding-top: get-vw-360(10px);
  }

  .news_inner_footer_items_date span {
    font-size: get-vw-360(12px);
  }

  .park_content {
    padding-bottom: get-vw-360(120px);
  }

  .park_content p {
    font-size: get-vw-360(16px);
  }

  .park_content_img {
    padding-top: get-vw-360(32px);
    padding-bottom: get-vw-360(32px);
  }

  .park_content_img img {
    width: 100%;
    margin-top: 15px;
    min-height: get-vw-360(231px);
  }

  .park_content_single_img img {
    min-height: get-vw-360(320px);
    width: 100%;
  }

  .park_content_double_img {
    padding-top: get-vw-360(32px);
    padding-bottom: get-vw-360(32px);
  }

  .park_content_double_img img {
    width: 100%;
    min-height: get-vw-360(350px);
    margin-top: 15px;
  }
}

