/* .global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
} */

.park_content {
  padding-bottom: 5.5555555556vw;
}

.park_content p {
  font-family: "DIN Pro";
  font-size: 1.1111111111vw;
  line-height: 131.77%;
  padding: 2% 0;
  color: #4E4E4E;
}

.park_content_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.park_content_img img {
  width: 33.33333%;
  min-height: 16.0416666667vw;
}

.park_content_single_img img {
  min-height: 22.2222222222vw;
  width: 100%;
  max-width: 100%;
}

.park_content_double_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.park_content_double_img img {
  width: 50%;
  min-height: 24.3055555556vw;
}

@media screen and (max-width: 1024px) {
  /* .global_title h3 {
    font-size: 2.9296875vw;
    width: 45%;
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
  }

  .global_title h3::after {
    height: 0.09765625vw;
    width: 11.23046875vw;
  }

  .global_title h3::before {
    height: 0.09765625vw;
    width: 11.23046875vw;
  } */

  .news_bg {
    min-height: 48.73046875vw;
  }

  .news_pagination {
    margin-top: 3.90625vw;
    margin-bottom: 11.71875vw;
  }

  .news_pagination a {
    width: 3.90625vw;
    height: 3.90625vw;
    font-size: 1.3671875vw;
    line-height: 1.66015625vw;
    margin-left: 1.5625vw;
  }

  .news_content {
    width: 100%;
    margin-top: -7.080078125vw;
  }

  .news_content_items {
    min-height: 23.4375vw;
    margin-bottom: 2.34375vw;
    margin-top: 2.34375vw;
  }

  .news_content_items__img img {
    width: 47.8515625vw;
    min-height: 23.4375vw;
  }

  .news_content_items__descr {
    padding: 3.125vw;
  }

  .news_content_items__descr__title {
    font-size: 1.7578125vw;
  }

  .news_content_items__descr__content {
    font-size: 1.5625vw;
  }

  .news_content_items__descr__content::after {
    bottom: -2.44140625vw;
  }

  .news_content_items__descr__date {
    font-size: 1.171875vw;
    padding-top: 2.9296875vw;
  }

  .services_content {
    padding-bottom: 11.71875vw;
  }

  .services_content p {
    font-size: 1.5625vw;
  }

  .services_content .services_content_big {
    min-height: 48.73046875vw;
    margin-top: 3.7109375vw;
  }

  .services_content .services_content_big .white_stealth {
    padding-top: 2.34375vw;
    padding-left: 5.2734375vw;
    padding-right: 5.2734375vw;
    min-height: 48.73046875vw;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: 2.9296875vw;
    padding-bottom: 2.34375vw;
  }

  .services_content .services_content_big .white_stealth p {
    font-size: 1.5625vw;
  }

  .services_content .services_content_mini {
    min-height: 29.296875vw;
    margin-top: 3.7109375vw;
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: 2.34375vw;
    padding-left: 5.2734375vw;
    padding-right: 5.2734375vw;
    min-height: 29.296875vw;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: 2.9296875vw;
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: 1.5625vw;
  }

  .news_inner_bg {
    min-height: 71.484375vw;
  }

  .news_inner_content {
    width: 100%;
    margin-top: -7.080078125vw;
  }

  .news_inner_content_bottom {
    margin-top: 13.18359375vw;
    margin-bottom: 4.1015625vw;
  }

  .news_inner_content_bottom h3 {
    font-size: 2.34375vw;
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: 1.5625vw;
    padding-top: 3.90625vw;
  }

  .news_inner_content_descr img {
    min-height: 48.73046875vw;
    padding-top: 3.90625vw;
  }

  .news_inner_content_title p {
    font-size: 1.7578125vw;
  }

  .news_inner_content_title h3 {
    font-size: 2.9296875vw;
    width: 65%;
    padding-top: 3.125vw;
    padding-bottom: 0.9765625vw;
  }

  .news_inner_content_title h3::after {
    height: 0.09765625vw;
    width: 11.23046875vw;
    right: -9.765625vw;
  }

  .news_inner_content_title h3::before {
    height: 0.09765625vw;
    width: 11.23046875vw;
    left: -9.765625vw;
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11.71875vw;
  }

  .news_inner_footer .row {
    flex-wrap: wrap !important;
  }

  .news_inner_footer_items_descr {
    padding-top: 1.7578125vw;
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: 1.7578125vw;
  }

  .news_inner_footer_items_descr p {
    font-size: 1.5625vw;
  }

  .news_inner_footer_items_date {
    padding-right: 1.953125vw;
    padding-top: 0.9765625vw;
  }

  .news_inner_footer_items_date span {
    font-size: 1.171875vw;
  }

  .park_content {
    padding-bottom: 11.71875vw;
  }

  .park_content p {
    font-size: 1.5625vw;
  }

  .park_content_img {
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
  }

  .park_content_img img {
    width: 33.33333%;
    min-height: 22.55859375vw;
  }

  .park_content_single_img img {
    min-height: 31.25vw;
  }

  .park_content_double_img {
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
  }

  .park_content_double_img img {
    width: 50%;
    min-height: 34.1796875vw;
  }
}

@media screen and (max-width: 768px) {
  /* .global_title h3 {
    font-size: 3.90625vw;
    width: 45%;
    padding-top: 4.1666666667vw;
    padding-bottom: 4.1666666667vw;
  }

  .global_title h3::after {
    height: 0.1302083333vw;
    width: 14.9739583333vw;
    right: -35%;
  }

  .global_title h3::before {
    height: 0.1302083333vw;
    width: 14.9739583333vw;
    left: -35%;
  } */

  .news_bg {
    min-height: 64.9739583333vw;
  }

  .news_pagination {
    margin-top: 5.2083333333vw;
    margin-bottom: 15.625vw;
  }

  .news_pagination a {
    width: 5.2083333333vw;
    height: 5.2083333333vw;
    font-size: 1.8229166667vw;
    line-height: 2.2135416667vw;
    margin-left: 2.0833333333vw;
  }

  .news_content {
    width: 100%;
    margin-top: -9.4401041667vw;
  }

  .news_content_items {
    min-height: 31.25vw;
    margin-bottom: 3.125vw;
    margin-top: 3.125vw;
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 31.25vw;
  }

  .news_content_items__descr {
    padding: 4.1666666667vw;
  }

  .news_content_items__descr__title {
    font-size: 2.34375vw;
  }

  .news_content_items__descr__content {
    font-size: 2.0833333333vw;
  }

  .news_content_items__descr__content::after {
    bottom: -3.2552083333vw;
  }

  .news_content_items__descr__date {
    font-size: 1.5625vw;
    padding-top: 3.90625vw;
  }

  .services_content {
    padding-bottom: 15.625vw;
  }

  .services_content p {
    font-size: 2.0833333333vw;
  }

  .services_content .services_content_big {
    min-height: 64.9739583333vw;
    margin-top: 4.9479166667vw;
  }

  .services_content .services_content_big .white_stealth {
    padding-top: 3.125vw;
    padding-left: 7.03125vw;
    padding-right: 7.03125vw;
    min-height: 64.9739583333vw;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: 3.90625vw;
    padding-bottom: 3.125vw;
  }

  .services_content .services_content_big .white_stealth p {
    font-size: 2.0833333333vw;
  }

  .services_content .services_content_mini {
    min-height: 39.0625vw;
    margin-top: 4.9479166667vw;
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: 3.125vw;
    padding-left: 7.03125vw;
    padding-right: 7.03125vw;
    min-height: 39.0625vw;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: 3.90625vw;
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: 2.0833333333vw;
  }

  .news_inner_bg {
    min-height: 95.3125vw;
  }

  .news_inner_content {
    width: 100%;
    margin-top: -9.4401041667vw;
  }

  .news_inner_content_bottom {
    margin-top: 17.578125vw;
    margin-bottom: 5.46875vw;
  }

  .news_inner_content_bottom h3 {
    font-size: 3.125vw;
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: 2.0833333333vw;
    padding-top: 5.2083333333vw;
  }

  .news_inner_content_descr img {
    min-height: 64.9739583333vw;
    padding-top: 5.2083333333vw;
  }

  .news_inner_content_title p {
    font-size: 2.34375vw;
  }

  .news_inner_content_title h3 {
    font-size: 3.90625vw;
    width: 65%;
    padding-top: 4.1666666667vw;
    padding-bottom: 1.3020833333vw;
  }

  .news_inner_content_title h3::after {
    height: 0.1302083333vw;
    width: 14.9739583333vw;
    right: -13.0208333333vw;
  }

  .news_inner_content_title h3::before {
    height: 0.1302083333vw;
    width: 14.9739583333vw;
    left: -13.0208333333vw;
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15.625vw;
  }

  .news_inner_footer_items_descr {
    padding-top: 2.34375vw;
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: 2.34375vw;
  }

  .news_inner_footer_items_descr p {
    font-size: 2.0833333333vw;
  }

  .news_inner_footer_items_date {
    padding-right: 2.6041666667vw;
    padding-top: 1.3020833333vw;
  }

  .news_inner_footer_items_date span {
    font-size: 1.5625vw;
  }

  .park_content {
    padding-bottom: 15.625vw;
  }

  .park_content p {
    font-size: 2.0833333333vw;
  }

  .park_content_img {
    padding-top: 4.1666666667vw;
    padding-bottom: 4.1666666667vw;
    display: flex;
    flex-direction: column;
  }

  .park_content_img img {
    width: 100%;
    margin-top: 15px;
    min-height: 30.078125vw;
  }

  .park_content_single_img img {
    width: 100%;
    min-height: 41.6666666667vw;
  }

  .park_content_double_img {
    display: flex;
    flex-direction: column;
    padding-top: 4.1666666667vw;
    padding-bottom: 4.1666666667vw;
  }

  .park_content_double_img img {
    width: 100%;
    margin-top: 15px;
    min-height: 45.5729166667vw;
  }
}

@media screen and (max-width: 480px) {
  /* .global_title h3 {
    font-size: 6.25vw;
    width: 45%;
    padding-top: 6.6666666667vw;
    padding-bottom: 6.6666666667vw;
    text-align: center;
  }

  .global_title h3::after {
    height: 0.2083333333vw;
    width: 23.9583333333vw;
    right: -55%;
  }

  .global_title h3::before {
    height: 0.2083333333vw;
    width: 23.9583333333vw;
    left: -55%;
  } */

  .news_bg {
    min-height: 103.9583333333vw;
  }

  .news_pagination {
    margin-top: 8.3333333333vw;
    margin-bottom: 25vw;
  }

  .news_pagination a {
    width: 8.3333333333vw;
    height: 8.3333333333vw;
    font-size: 2.9166666667vw;
    line-height: 3.5416666667vw;
    margin-left: 3.3333333333vw;
  }

  .news_content {
    width: 100%;
    margin-top: -15.1041666667vw;
  }

  .news_content_items {
    min-height: 50vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    display: block;
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 50vw;
  }

  .news_content_items__descr {
    padding: 1.4583333333vw;
  }

  .news_content_items__descr__title {
    font-size: 3.75vw !important;
  }

  .news_content_items__descr__content {
    font-size: 3.3333333333vw;
  }

  .news_content_items__descr__content::after {
    bottom: -5.2083333333vw;
  }

  .news_content_items__descr__date {
    font-size: 2.5vw;
    padding-top: 6.25vw;
  }

  .services_content {
    padding-bottom: 25vw;
  }

  .services_content p {
    font-size: 3.3333333333vw;
  }

  .services_content .services_content_big {
    min-height: 103.9583333333vw;
    margin-top: 7.9166666667vw;
  }

  .services_content .services_content_big .white_stealth {
    padding-top: 5vw;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 103.9583333333vw;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: 6.25vw;
    padding-bottom: 5vw;
  }

  .services_content .services_content_big .white_stealth p {
    font-size: 3.3333333333vw;
    width: 87%;
  }

  .services_content .services_content_mini {
    min-height: 62.5vw;
    margin-top: 7.9166666667vw;
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: 5vw;
    padding-left: 0vw;
    padding-right: 0vw;
    min-height: 62.5vw;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: 6.25vw;
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: 3.3333333333vw;
    width: 87%;
  }

  .news_inner_bg {
    min-height: 152.5vw;
  }

  .news_inner_content {
    width: 100%;
    margin-top: -15.1041666667vw;
  }

  .news_inner_content_bottom {
    margin-top: 28.125vw;
    margin-bottom: 8.75vw;
  }

  .news_inner_content_bottom h3 {
    font-size: 5vw;
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: 3.3333333333vw;
    padding-top: 8.3333333333vw;
  }

  .news_inner_content_descr img {
    min-height: 103.9583333333vw;
    padding-top: 8.3333333333vw;
  }

  .news_inner_content_title p {
    font-size: 3.75vw;
  }

  .news_inner_content_title h3 {
    font-size: 6.25vw;
    width: 65%;
    padding-top: 6.6666666667vw;
    padding-bottom: 2.0833333333vw;
  }

  .news_inner_content_title h3::after {
    display: none;
  }

  .news_inner_content_title h3::before {
    display: none;
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25vw;
  }

  .news_inner_footer_items_descr {
    padding-top: 3.75vw;
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: 3.75vw;
  }

  .news_inner_footer_items_descr p {
    font-size: 3.3333333333vw;
  }

  .news_inner_footer_items_date {
    padding-right: 4.1666666667vw;
    padding-top: 2.0833333333vw;
  }

  .news_inner_footer_items_date span {
    font-size: 2.5vw;
  }

  .park_content {
    padding-bottom: 25vw;
  }

  .park_content p {
    font-size: 3.3333333333vw;
  }

  .park_content_img {
    display: flex;
    flex-direction: column;
    padding-top: 6.6666666667vw;
    padding-bottom: 6.6666666667vw;
  }

  .park_content_img img {
    width: 100%;
    min-height: 48.125vw;
  }

  .park_content_single_img img {
    width: 100%;
    min-height: 66.6666666667vw;
  }

  .park_content_double_img {
    display: flex;
    flex-direction: column;
    padding-top: 6.6666666667vw;
    padding-bottom: 6.6666666667vw;
  }

  .park_content_double_img img {
    width: 100%;
    min-height: 72.9166666667vw;
  }
}

@media screen and (max-width: 360px) {
  /* .global_title h3 {
    font-size: 8.3333333333vw;
    width: 45%;
    padding-top: 8.8888888889vw;
    padding-bottom: 8.8888888889vw;
    text-align: center;
  }

  .global_title h3::after {
    height: 0.2777777778vw;
    width: 31.9444444444vw;
    right: -95px;
  }

  .global_title h3::before {
    height: 0.2777777778vw;
    width: 31.9444444444vw;
    left: -95px;
  } */

  .news_bg {
    min-height: 138.6111111111vw;
    background-position: 45% 100%;
  }

  .news_pagination {
    margin-top: 11.1111111111vw;
    margin-bottom: 33.3333333333vw;
  }

  .news_pagination a {
    width: 11.1111111111vw;
    height: 11.1111111111vw;
    font-size: 3.8888888889vw;
    line-height: 4.7222222222vw;
    margin-left: 4.4444444444vw;
  }

  .news_content {
    width: 100%;
    margin-top: -20.1388888889vw;
  }

  .news_content_items {
    min-height: 66.6666666667vw;
    margin-bottom: 6.6666666667vw;
    margin-top: 6.6666666667vw;
  }

  .news_content_items__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 66.6666666667vw;
  }

  .news_content_items__descr {
    padding: 1.9444444444vw;
  }

  .news_content_items__descr__title {
    font-size: 5vw;
  }

  .news_content_items__descr__content {
    font-size: 4.4444444444vw;
  }

  .news_content_items__descr__content::after {
    bottom: -6.9444444444vw;
  }

  .news_content_items__descr__date {
    font-size: 3.3333333333vw;
    padding-top: 8.3333333333vw;
  }

  .services_content {
    padding-bottom: 33.3333333333vw;
  }

  .services_content p {
    font-size: 4.4444444444vw;
  }

  .services_content .services_content_big {
    min-height: 138.6111111111vw;
    margin-top: 10.5555555556vw;
  }

  .services_content .services_content_big .white_stealth {
    padding-top: 6.6666666667vw;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 138.6111111111vw;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_big .white_stealth h3 {
    font-size: 8.3333333333vw;
    padding-bottom: 6.6666666667vw;
  }

  .services_content .services_content_big .white_stealth p {
    font-size: 4.4444444444vw;
  }

  .services_content .services_content_mini {
    min-height: 83.3333333333vw;
    margin-top: 10.5555555556vw;
  }

  .services_content .services_content_mini .white_stealth {
    padding-top: 6.6666666667vw;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 83.3333333333vw;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: opacity(80%);
            backdrop-filter: opacity(80%);
  }

  .services_content .services_content_mini .white_stealth h3 {
    font-size: 8.3333333333vw;
  }

  .services_content .services_content_mini .white_stealth p {
    font-size: 4.4444444444vw;
  }

  .news_inner_bg {
    min-height: 203.3333333333vw;
  }

  .news_inner_content {
    width: 100%;
    margin-top: -20.1388888889vw;
  }

  .news_inner_content_bottom {
    margin-top: 37.5vw;
    margin-bottom: 11.6666666667vw;
  }

  .news_inner_content_bottom h3 {
    font-size: 6.6666666667vw;
  }

  .news_inner_content_bottom::before {
    width: 0;
    left: 0;
  }

  .news_inner_content_bottom::after {
    width: 0;
    right: 0;
  }

  .news_inner_content_descr p {
    font-size: 4.4444444444vw;
    padding-top: 11.1111111111vw;
  }

  .news_inner_content_descr img {
    min-height: 138.6111111111vw;
    padding-top: 11.1111111111vw;
  }

  .news_inner_content_title p {
    font-size: 5vw;
  }

  .news_inner_content_title h3 {
    font-size: 8.3333333333vw;
    width: 65%;
    padding-top: 8.8888888889vw;
    padding-bottom: 2.7777777778vw;
  }

  .news_inner_content_title h3::after {
    height: 0.2777777778vw;
    width: 31.9444444444vw;
    right: -27.7777777778vw;
  }

  .news_inner_content_title h3::before {
    height: 0.2777777778vw;
    width: 31.9444444444vw;
    left: -27.7777777778vw;
  }

  .news_inner_footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 33.3333333333vw;
  }

  .news_inner_footer_items_descr {
    padding-top: 5vw;
    padding-left: 0;
  }

  .news_inner_footer_items_descr::after {
    width: 100%;
  }

  .news_inner_footer_items_descr h3 {
    font-size: 5vw;
  }

  .news_inner_footer_items_descr p {
    font-size: 4.4444444444vw;
  }

  .news_inner_footer_items_date {
    padding-right: 5.5555555556vw;
    padding-top: 2.7777777778vw;
  }

  .news_inner_footer_items_date span {
    font-size: 3.3333333333vw;
  }

  .park_content {
    padding-bottom: 33.3333333333vw;
  }

  .park_content p {
    font-size: 4.4444444444vw;
  }

  .park_content_img {
    padding-top: 8.8888888889vw;
    padding-bottom: 8.8888888889vw;
  }

  .park_content_img img {
    width: 100%;
    margin-top: 15px;
    min-height: 64.1666666667vw;
  }

  .park_content_single_img img {
    min-height: 88.8888888889vw;
    width: 100%;
  }

  .park_content_double_img {
    padding-top: 8.8888888889vw;
    padding-bottom: 8.8888888889vw;
  }

  .park_content_double_img img {
    width: 100%;
    min-height: 97.2222222222vw;
    margin-top: 15px;
  }
}

