.rent-title {
    font-size: 40px;
	font-weight: 500;
	display: flex;
	justify-content: center;
}
.header{
	position: relative;
	background-color: #202020;
}
.rent-title{
	margin: 5% 0;
}

.block-rent {
	display: flex;
    margin: 0 -10px;
	flex-wrap: wrap;
	margin: 5% 0 ;
	
}
.item-rent{
	margin: 5% 0;
}
.item-rent-main{
	display: flex;
	width: 25%;
	padding: 0 10px;
}
@media(max-width: 768px) {
	.item-rent-main {
		flex: 0 1 50%;
		margin-top: 1.2rem;
  	}
  	.block-rent {
		margin-top: 0rem;
	}
	.item-rent-main{
		width: 35%;
	}
}

@media(max-width: 414px) {
	.item-rent-main {
		width: 50%
  }
  .item-text-name-rent {
	padding: 0 0.5rem;
	}
}

.item-rent {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: flex;
   flex-direction: column;

}
.item-img img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.item-title-rent {
	text-align: center;
	margin-top: 0.5rem;
	/* color:black;; */
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e3a102
}
.item-text-name-rent {
	text-align: center;
	padding: 10px;
	margin-top: 0.5rem;
	color: #6d6d6d;
    font-size: 14px;
	 font-weight: 400;
	 flex: 1 1 auto;
}

.item-btn-name-rent {
	text-align: center;
	margin-top: 0.5rem;
	background-color: #e3a102;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-btn-name-rent a{
	color: white;
    font-size: 14px;
    font-weight: 700;
	 text-decoration: none;
    cursor: pointer;
}