.global_title {
  display: flex;
  justify-content: center;
}

.global_title h3 {
  position: relative;
  font-family: "DIN Pro";
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A0A0A;
  width: 45%;
  padding-top: 2.2222222222vw;
  padding-bottom: 2.2222222222vw;
}

.global_title h3::after {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  right: 0;
}

.global_title h3::before {
  content: "";
  position: absolute;
  height: 0.0694444444vw;
  width: 7.9861111111vw;
  background: #26242B;
  left: 0;
}

