@import '../plugins/text.scss';

.news_inner {
  &_bg {
    min-height: get-vw-1440(499px);
    width: 100%;
    // background-image: url('../../../../assets/img/news_inner_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_content {
    background: #fff;
    width: get-vw-1440(956px);
    margin: 0 auto;
    margin-top: get-vw-1440(-72.5px);
    &_bottom {
      position: relative;
      margin-top: get-vw-1440(135px);
      margin-bottom: get-vw-1440(42px);
      width: 100%;
      display: flex;
      align-items: center;
      h3 {
        font-family: 'DIN Pro';
        font-weight: 500;
        font-size: get-vw-1440(24px);
        line-height: 84.5%;
        color: #26242B;
      }
      &::before {
        content: '';
        position: absolute;
        width: get-vw-1440(115px);
        height: 1px;
        left: get-vw-1440(-125px);
        background: #26242B;
      }
      &::after {
        content: '';
        position: absolute;
        width: get-vw-1440(865px);
        height: 1px;
        right: get-vw-1440(-125px);
        background: #26242B;
      }
    }
    &_descr {
      p {
        font-family: 'DIN Pro';
        font-size: get-vw-1440(16px);
        line-height: 131.77%;
        color: #4E4E4E;
        padding-top: get-vw-1440(40px);
      }
      img {
        min-height: get-vw-1440(499px);
        width: 100%;
        padding-top: get-vw-1440(40px);
      }
    }
    &_title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-family: 'DIN Pro';
        font-size: get-vw-1440(18px);
        line-height: 131.77%;
        color: #6B6B6B;
      }
      h3 {
        position: relative;
        font-family: 'DIN Pro';
        font-weight: 500;
        font-size: get-vw-1440(30px);
        line-height: 131.77%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0A0A0A;
        width: 65%;
        text-align: center;
        padding-top: get-vw-1440(32px);
        padding-bottom: get-vw-1440(10px);
        &::after {
          content: '';
          position: absolute;
          height: get-vw-1440(1px);
          width: get-vw-1440(115px);
          background: #26242B;
          right: get-vw-1440(-100px);
        }
        &::before {
          content: '';
          position: absolute;
          height: get-vw-1440(1px);
          width: get-vw-1440(115px);
          background: #26242B;
          left: get-vw-1440(-100px);
        }
      }
    }
  }
  &_footer {
    padding-left: get-vw-1440(95px);
    padding-right: get-vw-1440(95px);
    padding-bottom: get-vw-1440(120px);
    .row{
      flex-wrap: nowrap !important;
    }
    &_items {
      &_img {
        img {
          width: 100%;
          height: 200px;
        }
      }
      &_descr {
        padding-top: get-vw-1440(18px);
        padding-left: get-vw-1440(32px);
        position: relative;
        &::after {
          content: '';
          width: get-vw-1440(332px);
          height: 1px;
          position: absolute;
          background: #808080;
        }
        h3 {
          font-family: 'DIN Pro';
          font-weight: 500;
          font-size: get-vw-1440(18px);
          line-height: 131.77%;
          color: #0A0A0A;
        }
        p {
          font-family: 'DIN Pro';
          font-size: get-vw-1440(16px);
          padding: 0 0 5% 0;
          line-height: 131.77%;
          color: #4E4E4E;
          word-break: break-all;
        }
      }
      &_date {
        padding-right: get-vw-1440(20px);
        padding-top: get-vw-1440(10px);
        span {
          display: flex;
          justify-content: flex-end;
          font-family: 'DIN Pro';
          font-size: get-vw-1440(12px);
          line-height: 131.77%;
          color: #0A0A0A;
        }
      }
    }
  }
}
@import '../plugins/media.scss';
