@import '../plugins/text.scss';
.news {
  &_bg {
    min-height: get-vw-1440(499px);
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: get-vw-1440(40px);
    margin-bottom: get-vw-1440(120px);
    a {
      border: 1px solid #26242B;
      box-sizing: border-box;
      width: get-vw-1440(40px);
      height: get-vw-1440(40px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'DIN Pro';
      font-size: get-vw-1440(14px);
      line-height: get-vw-1440(17px);
      margin-left: get-vw-1440(16px);
      color: #26242B;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: #26242B;
        img {
          display: none;
        }
        .active_arrow {
          display: block;
        }
      }
    }
  }
  &_content {
    background: #fff;
    width: get-vw-1440(956px);
    margin: 0 auto;
    margin-top: get-vw-1440(-72.5px);
    a{
      overflow: hidden;
    }
    &_items {
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      min-height: get-vw-1440(240px);
      margin-bottom: get-vw-1440(24px);
      margin-top: get-vw-1440(24px);
      display: flex;
      &:hover {
        text-decoration: none;
      }
      &__img {
        img {
          width: get-vw-1440(490px);
          min-height: get-vw-1440(240px);
        }
      }
      &__descr {
        width: 100%;
        padding: get-vw-1440(32px);
        &__title {
          font-family: 'DIN Pro';
          font-weight: 500;
          font-size: get-vw-1440(18px);
          line-height: 131.77%;
          display: flex;
          align-items: center;
          color: #0A0A0A;
        }
        &__content {
          font-family: 'DIN Pro';
          font-size: get-vw-1440(16px);
          word-break: break-all;
          line-height: 131.77%;
          display: flex;
          align-items: center;
          color: #4E4E4E;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            height: 1px;
            bottom: get-vw-1440(-25px);
            background: #808080;
          }
        }
        &__date {
          font-family: 'DIN Pro';
          font-size: get-vw-1440(12px);
          line-height: 131.77%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: #0A0A0A;
          padding-top: get-vw-1440(30px);
        }
      }
    }
  }
}
@import '../plugins/media.scss';
