@import '../plugins/text.scss';

.park_content {
  padding-bottom: get-vw-1440(80px);
  p {
    font-family: 'DIN Pro';
    font-size: get-vw-1440(16px);
    line-height: 131.77%;
    padding: 2% 0;
    color: #4E4E4E;
  }
  &_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: get-vw-1440(32px);
    // padding-bottom: get-vw-1440(32px);
    img {
      width: get-vw-1440(308px);
      min-height: get-vw-1440(231px);
    }
  }
  &_single_img {
    img {
      min-height: get-vw-1440(320px);
      width: 100%;
    }
  }
  &_double_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: get-vw-1440(32px);
    // padding-bottom: get-vw-1440(32px);
    img {
      width: get-vw-1440(466px);
      min-height: get-vw-1440(350px);
    }
  }
}
@import '../plugins/media.scss';
