@import '../plugins/text.scss';

.services_content {
  padding-bottom: get-vw-1440(120px);
  p {
    font-family: 'DIN Pro';
    font-size: get-vw-1440(16px);
    line-height: 131.77%;
    color: #4E4E4E;
  }
  .services_content_big {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: get-vw-1440(499px);
    margin-top: get-vw-1440(38px);
    .row{
      &:before{
        display: none;
      }
      &:after{
        display: none;
      }
    }
    .white_stealth {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: get-vw-1440(24px)!important;
      padding-left: get-vw-1440(54px)!important;
      padding-right: get-vw-1440(54px)!important;
      min-height: get-vw-1440(499px);
      width: 100%;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: opacity(80%);
      h3 {
        font-family: 'DIN Pro';
        font-weight: 500;
        font-size: get-vw-1440(30px);
        line-height: 131.77%;
        color: #0A0A0A;
        padding-bottom: get-vw-1440(24px);
      }
      p {
        font-family: 'DIN Pro';
        font-size: get-vw-1440(16px);
        line-height: 131.77%;
        color: #4E4E4E;
      }
    }
  }
  .services_content_mini {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: get-vw-1440(300px);
    margin-top: get-vw-1440(38px);
    .row{
      &:before{
        display: none !important;
      }
      &:after{
        display: none !important;
      }
    }
    .white_stealth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: get-vw-1440(24px)!important;
      padding-left: get-vw-1440(54px)!important;
      padding-right: get-vw-1440(54px)!important;
      min-height: get-vw-1440(300px);
      width: 100%;
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: opacity(80%);
      h3 {
        font-family: 'DIN Pro';
        font-weight: 500;
        font-size: get-vw-1440(30px);
        line-height: 131.77%;
        color: #0A0A0A;
      }
      p {
        font-family: 'DIN Pro';
        font-size: get-vw-1440(16px);
        line-height: 131.77%;
        color: #4E4E4E;
      }
    }
  }
  
}
@import '../plugins/media.scss';
