@media screen and (max-width: 1024px) {
  .global_title {
    h3 {
      font-size: get-vw-1024(30px);
      width: 45%;
      padding-top: get-vw-1024(32px);
      padding-bottom: get-vw-1024(32px);
      &::after {
        height: get-vw-1024(1px);
        width: get-vw-1024(115px);
      }
      &::before {
        height: get-vw-1024(1px);
        width: get-vw-1024(115px);
      }
    }
  }
  .news {
    &_bg {
      min-height: get-vw-1024(499px);
    }
    &_pagination {
      margin-top: get-vw-1024(40px);
      margin-bottom: get-vw-1024(120px);
      a {
        width: get-vw-1024(40px);
        height: get-vw-1024(40px);
        font-size: get-vw-1024(14px);
        line-height: get-vw-1024(17px);
        margin-left: get-vw-1024(16px);
      }
    }
    &_content {
      width: 100%;
      margin-top: get-vw-1024(-72.5px);
      &_items {
        min-height: get-vw-1024(240px);
        margin-bottom: get-vw-1024(24px);
        margin-top: get-vw-1024(24px);
        &__img {
          img {
            width: get-vw-1024(490px);
            min-height: get-vw-1024(240px);
          }
        }
        &__descr {
          padding: get-vw-1024(32px);
          &__title {
            font-size: get-vw-1024(18px);
          }
          &__content {
            font-size: get-vw-1024(16px);
            &::after {
              bottom: get-vw-1024(-25px);
            }
          }
          &__date {
            font-size: get-vw-1024(12px);
            padding-top: get-vw-1024(30px);
          }
        }
      }
    }
  }
  .services_content {
    padding-bottom: get-vw-1024(120px);
    p {
      font-size: get-vw-1024(16px);
    }
    .services_content_big {
      min-height: get-vw-1024(499px);
      margin-top: get-vw-1024(38px);
      .white_stealth {
        padding-top: get-vw-1024(24px);
        padding-left: get-vw-1024(54px);
        padding-right: get-vw-1024(54px);
        min-height: get-vw-1024(499px);
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-1024(30px);
          padding-bottom: get-vw-1024(24px);
        }
        p {
          font-size: get-vw-1024(16px);
        }
      }
    }
    .services_content_mini {
      min-height: get-vw-1024(300px);
      margin-top: get-vw-1024(38px);
      .white_stealth {
        padding-top: get-vw-1024(24px);
        padding-left: get-vw-1024(54px);
        padding-right: get-vw-1024(54px);
        min-height: get-vw-1024(300px);
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-1024(30px);
        }
        p {
          font-size: get-vw-1024(16px);
        }
      }
    }
    
  }
  .news_inner {
    &_bg {
      min-height: get-vw-1024(732px);
    }
    &_content {
      width: 100% ;
      margin-top: get-vw-1024(-72.5px);
      &_bottom {
        margin-top: get-vw-1024(135px);
        margin-bottom: get-vw-1024(42px);
        h3 {
          font-size: get-vw-1024(24px) ;
        }
        &::before {
          width: 0;
          left: 0;
        }
        &::after {
          width: 0;
          right: 0;
        }
      }
      &_descr {
        p {
          font-size: get-vw-1024(16px) ;
          padding-top: get-vw-1024(40px);
        }
        img {
          min-height: get-vw-1024(499px);
          padding-top: get-vw-1024(40px);
        }
      }
      &_title {
        p {
          font-size: get-vw-1024(18px) ;
        }
        h3 {
          font-size: get-vw-1024(30px);
          width: 65%;
          padding-top: get-vw-1024(32px);
          padding-bottom: get-vw-1024(10px);
          &::after {
            height: get-vw-1024(1px);
            width: get-vw-1024(115px);
            right: get-vw-1024(-100px);
          }
          &::before {
            height: get-vw-1024(1px);
            width: get-vw-1024(115px);
            left: get-vw-1024(-100px);
          }
        }
      }
    }
    &_footer {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: get-vw-1024(120px);
      .row{
        flex-wrap: wrap !important;
      }
      &_items {
        &_descr {
          padding-top: get-vw-1024(18px);
          padding-left: 0;
          &::after {
            width: 100%;
          }
          h3 {
            font-size: get-vw-1024(18px);
          }
          p {
            font-size: get-vw-1024(16px);
          }
        }
        &_date {
          padding-right: get-vw-1024(20px);
          padding-top: get-vw-1024(10px);
          span {
            font-size: get-vw-1024(12px);
          }
        }
      }
    }
  }
  .park_content {
    padding-bottom: get-vw-1024(120px);
    p {
      font-size: get-vw-1024(16px);
    }
    &_img {
      padding-top: get-vw-1024(32px);
      padding-bottom: get-vw-1024(32px);
      img {
        width: get-vw-1024(308px);
        min-height: get-vw-1024(231px);
      }
    }
    &_single_img {
      img {
        min-height: get-vw-1024(320px);
      }
    }
    &_double_img {
      padding-top: get-vw-1024(32px);
      padding-bottom: get-vw-1024(32px);
      img {
        width: get-vw-1024(466px);
        min-height: get-vw-1024(350px);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .global_title {
    h3 {
      font-size: get-vw-768(30px) ;
      width: 45%;
      padding-top: get-vw-768(32px);
      padding-bottom: get-vw-768(32px);
      &::after {
        height: get-vw-768(1px);
        width: get-vw-768(115px);
        right: -25px;
      }
      &::before {
        height: get-vw-768(1px);
        width: get-vw-768(115px);
        left: -25px;
      }
    }
  }
  .news {
    &_bg {
      min-height: get-vw-768(499px);
    }
    &_pagination {
      margin-top: get-vw-768(40px);
      margin-bottom: get-vw-768(120px);
      a {
        width: get-vw-768(40px);
        height: get-vw-768(40px);
        font-size: get-vw-768(14px);
        line-height: get-vw-768(17px);
        margin-left: get-vw-768(16px);
      }
    }
    &_content {
      width: 100% ;
      margin-top: get-vw-768(-72.5px);
      &_items {
        min-height: get-vw-768(240px);
        margin-bottom: get-vw-768(24px);
        margin-top: get-vw-768(24px);
        &__img {
          img {
            width: 100%;
            object-fit: cover;
            min-height: get-vw-768(240px);
          }
        }
        &__descr {
          padding: get-vw-768(32px);
          &__title {
            font-size: get-vw-768(18px);
          }
          &__content {
            font-size: get-vw-768(16px);
            &::after {
              bottom: get-vw-768(-25px);
            }
          }
          &__date {
            font-size: get-vw-768(12px);
            padding-top: get-vw-768(30px);
          }
        }
      }
    }
  }
  .services_content {
    padding-bottom: get-vw-768(120px);
    p {
      font-size: get-vw-768(16px);
    }
    .services_content_big {
      min-height: get-vw-768(499px);
      margin-top: get-vw-768(38px);
      .white_stealth {
        padding-top: get-vw-768(24px);
        padding-left: get-vw-768(54px);
        padding-right: get-vw-768(54px);
        min-height: get-vw-768(499px);
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-768(30px);
          padding-bottom: get-vw-768(24px);
        }
        p {
          font-size: get-vw-768(16px);
        }
      }
    }
    .services_content_mini {
      min-height: get-vw-768(300px);
      margin-top: get-vw-768(38px);
      .white_stealth {
        padding-top: get-vw-768(24px);
        padding-left: get-vw-768(54px);
        padding-right: get-vw-768(54px);
        min-height: get-vw-768(300px);
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-768(30px);
        }
        p {
          font-size: get-vw-768(16px);
        }
      }
    }
    
  }
  .news_inner {
    &_bg {
      min-height: get-vw-768(732px);
    }
    &_content {
      width: 100%;
      margin-top: get-vw-768(-72.5px);
      &_bottom {
        margin-top: get-vw-768(135px);
        margin-bottom: get-vw-768(42px);
        h3 {
          font-size: get-vw-768(24px);
        }
        &::before {
          width: 0;
          left: 0;
        }
        &::after {
          width: 0;
          right: 0;
        }
      }
      &_descr {
        p {
          font-size: get-vw-768(16px);
          padding-top: get-vw-768(40px);
        }
        img {
          min-height: get-vw-768(499px);
          padding-top: get-vw-768(40px);
        }
      }
      &_title {
        p {
          font-size: get-vw-768(18px);
        }
        h3 {
          font-size: get-vw-768(30px);
          width: 65%;
          padding-top: get-vw-768(32px);
          padding-bottom: get-vw-768(10px);
          &::after {
            height: get-vw-768(1px);
            width: get-vw-768(115px);
            right: get-vw-768(-100px);
          }
          &::before {
            height: get-vw-768(1px);
            width: get-vw-768(115px);
            left: get-vw-768(-100px);
          }
        }
      }
    }
    &_footer {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: get-vw-768(120px);
      &_items {
        &_descr {
          padding-top: get-vw-768(18px);
          padding-left: 0;
          &::after {
            width: 100%;
          }
          h3 {
            font-size: get-vw-768(18px);
          }
          p {
            font-size: get-vw-768(16px);
          }
        }
        &_date {
          padding-right: get-vw-768(20px);
          padding-top: get-vw-768(10px);
          span {
            font-size: get-vw-768(12px);
          }
        }
      }
    }
  }
  .park_content {
    padding-bottom: get-vw-768(120px);
    p {
      font-size: get-vw-768(16px);
    }
    &_img {
      padding-top: get-vw-768(32px);
      padding-bottom: get-vw-768(32px);
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        margin-top: 15px;
        min-height: get-vw-768(231px);
      }
    }
    &_single_img {
      img {
        width: 100%;
        min-height: get-vw-768(320px);
      }
    }
    &_double_img {
      display: flex;
      flex-direction: column;
      padding-top: get-vw-768(32px);
      padding-bottom: get-vw-768(32px);
      img {
        width: 100%;
        margin-top: 15px;
        min-height: get-vw-768(350px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .global_title {
    h3 {
      font-size: get-vw-480(30px) ;
      width: 45% ;
      padding-top: get-vw-480(32px);
      padding-bottom: get-vw-480(32px);
      text-align: center;
      &::after {
        height: get-vw-480(1px);
        width: get-vw-480(115px);
        right: -65px;
      }
      &::before {
        height: get-vw-480(1px);
        width: get-vw-480(115px);
        left: -65px;
      }
    }
  }
  .news {
    &_bg {
      min-height: get-vw-480(499px) ;
    }
    &_pagination {
      margin-top: get-vw-480(40px);
      margin-bottom: get-vw-480(120px);
      a {
        width: get-vw-480(40px) ;
        height: get-vw-480(40px);
        font-size: get-vw-480(14px);
        line-height: get-vw-480(17px);
        margin-left: get-vw-480(16px);
      }
    }
    &_content {
      width: 100%;
      margin-top: get-vw-480(-72.5px);
      &_items {
        min-height: get-vw-480(240px);
        margin-bottom: get-vw-480(24px);
        margin-top: get-vw-480(24px);
        display: block;
        &__img {
          img {
            width: 100%;
            object-fit: cover;
            min-height: get-vw-480(240px) ;
          }
        }
        &__descr {
          padding: get-vw-480(7px);
          &__title {
            font-size: get-vw-480(18px) !important;
          }
          &__content {
            font-size: get-vw-480(16px) ;
            &::after {
              bottom: get-vw-480(-25px);
            }
          }
          &__date {
            font-size: get-vw-480(12px) ;
            padding-top: get-vw-480(30px);
          }
        }
      }
    }
  }
  .services_content {
    padding-bottom: get-vw-480(120px);
    p {
      font-size: get-vw-480(16px);
    }
    .services_content_big {
      min-height: get-vw-480(499px);
      margin-top: get-vw-480(38px);
      .white_stealth {
        padding-top: get-vw-480(24px);
        padding-left: 0px;
        padding-right: 0px;
        min-height: get-vw-480(499px);
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-480(30px);
          padding-bottom: get-vw-480(24px);
        }
        p {
          font-size: get-vw-480(16px);
          width: 87%;
        }
      }
    }
    .services_content_mini {
      min-height: get-vw-480(300px);
      margin-top: get-vw-480(38px);
      .white_stealth {
        padding-top: get-vw-480(24px);
        padding-left: get-vw-480(0px);
        padding-right: get-vw-480(0px);
        min-height: get-vw-480(300px);
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-480(30px) ;
        }
        p {
          font-size: get-vw-480(16px);
          width: 87%;
        }
      }
    }
    
  }
  .news_inner {
    &_bg {
      min-height: get-vw-480(732px);
    }
    &_content {
      width: 100% ;
      margin-top: get-vw-480(-72.5px);
      &_bottom {
        margin-top: get-vw-480(135px);
        margin-bottom: get-vw-480(42px);
        h3 {
          font-size: get-vw-480(24px);
        }
        &::before {
          width: 0;
          left: 0;
        }
        &::after {
          width: 0;
          right: 0;
        }
      }
      &_descr {
        p {
          font-size: get-vw-480(16px) ;
          padding-top: get-vw-480(40px);
        }
        img {
          min-height: get-vw-480(499px);
          padding-top: get-vw-480(40px);
        }
      }
      &_title {
        p {
          font-size: get-vw-480(18px) ;
        }
        h3 {
          font-size: get-vw-480(30px);
          width: 65%;
          padding-top: get-vw-480(32px);
          padding-bottom: get-vw-480(10px);
          &::after {
            display: none;
          }
          &::before {
            display: none
          }
        }
      }
    }
    &_footer {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: get-vw-480(120px);
      &_items {
        &_descr {
          padding-top: get-vw-480(18px);
          padding-left: 0;
          &::after {
            width: 100%;
          }
          h3 {
            font-size: get-vw-480(18px);
          }
          p {
            font-size: get-vw-480(16px);
          }
        }
        &_date {
          padding-right: get-vw-480(20px);
          padding-top: get-vw-480(10px);
          span {
            font-size: get-vw-480(12px);
          }
        }
      }
    }
  }
  .park_content {
    padding-bottom: get-vw-480(120px);
    p {
      font-size: get-vw-480(16px);
    }
    &_img {
      display: flex;
      flex-direction: column;
      padding-top: get-vw-480(32px);
      padding-bottom: get-vw-480(32px);
      img {
        width: 100%;
        min-height: get-vw-480(231px);
      }
    }
    &_single_img {
      img {
        width: 100%;
        min-height: get-vw-480(320px);
      }
    }
    &_double_img {
      display: flex;
      flex-direction: column;
      padding-top: get-vw-480(32px);
      padding-bottom: get-vw-480(32px);
      img {
        width: 100%;
        min-height: get-vw-480(350px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .global_title {
    h3 {
      font-size: get-vw-360(30px);
      width: 45%;
      padding-top: get-vw-360(32px);
      padding-bottom: get-vw-360(32px);
      text-align: center;
      &::after {
        height: get-vw-360(1px);
        width: get-vw-360(115px);
        right: -95px;
      }
      &::before {
        height: get-vw-360(1px);
        width: get-vw-360(115px);
        left: -95px;
      }
    }
  }
  .news {
    &_bg {
      min-height: get-vw-360(499px);
      background-position: 45% 100%;
    }
    &_pagination {
      margin-top: get-vw-360(40px);
      margin-bottom: get-vw-360(120px);
      a {
        width: get-vw-360(40px);
        height: get-vw-360(40px);
        font-size: get-vw-360(14px);
        line-height: get-vw-360(17px);
        margin-left: get-vw-360(16px);
      }
    }
    &_content {
      width: 100% ;
      margin-top: get-vw-360(-72.5px);
      &_items {
        min-height: get-vw-360(240px);
        margin-bottom: get-vw-360(24px);
        margin-top: get-vw-360(24px);
        &__img {
          img {
            width: 100%;
            object-fit: cover;
            min-height: get-vw-360(240px);
          }
        }
        &__descr {
          padding: get-vw-360(7px);
          &__title {
            font-size: get-vw-360(18px) ;
          }
          &__content {
            font-size: get-vw-360(16px) ;
            &::after {
              bottom: get-vw-360(-25px);
            }
          }
          &__date {
            font-size: get-vw-360(12px);
            padding-top: get-vw-360(30px);
          }
        }
      }
    }
  }
  .services_content {
    padding-bottom: get-vw-360(120px);
    p {
      font-size: get-vw-360(16px);
    }
    .services_content_big {
      min-height: get-vw-360(499px);
      margin-top: get-vw-360(38px);
      .white_stealth {
        padding-top: get-vw-360(24px);
        padding-left: get-vw-360(54px);
        padding-right: get-vw-360(54px);
        min-height: get-vw-360(499px);
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-360(30px) ;
          padding-bottom: get-vw-360(24px);
        }
        p {
          font-size: get-vw-360(16px);
        }
      }
    }
    .services_content_mini {
      min-height: get-vw-360(300px);
      margin-top: get-vw-360(38px);
      .white_stealth {
        padding-top: get-vw-360(24px);
        padding-left: get-vw-360(54px);
        padding-right: get-vw-360(54px);
        min-height: get-vw-360(300px);
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: opacity(80%);
        h3 {
          font-size: get-vw-360(30px) ;
        }
        p {
          font-size: get-vw-360(16px);
        }
      }
    }
    
  }
  .news_inner {
    &_bg {
      min-height: get-vw-360(732px);
    }
    &_content {
      width: 100%;
      margin-top: get-vw-360(-72.5px);
      &_bottom {
        margin-top: get-vw-360(135px);
        margin-bottom: get-vw-360(42px);
        h3 {
          font-size: get-vw-360(24px) ;
        }
        &::before {
          width: 0;
          left: 0;
        }
        &::after {
          width: 0;
          right: 0;
        }
      }
      &_descr {
        p {
          font-size: get-vw-360(16px) ;
          padding-top: get-vw-360(40px);
        }
        img {
          min-height: get-vw-360(499px);
          padding-top: get-vw-360(40px);
        }
      }
      &_title {
        p {
          font-size: get-vw-360(18px) ;
        }
        h3 {
          font-size: get-vw-360(30px);
          width: 65%;
          padding-top: get-vw-360(32px);
          padding-bottom: get-vw-360(10px);
          &::after {
            height: get-vw-360(1px);
            width: get-vw-360(115px);
            right: get-vw-360(-100px);
          }
          &::before {
            height: get-vw-360(1px);
            width: get-vw-360(115px);
            left: get-vw-360(-100px);
          }
        }
      }
    }
    &_footer {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: get-vw-360(120px);
      
      &_items {
        &_descr {
          padding-top: get-vw-360(18px);
          padding-left: 0;
          &::after {
            width: 100%;
          }
          h3 {
            font-size: get-vw-360(18px);
          }
          p {
            font-size: get-vw-360(16px);
          }
        }
        &_date {
          padding-right: get-vw-360(20px);
          padding-top: get-vw-360(10px);
          span {
            font-size: get-vw-360(12px);
          }
        }
      }
    }
  }
  .park_content {
    padding-bottom: get-vw-360(120px);
    p {
      font-size: get-vw-360(16px);
    }
    &_img {
      padding-top: get-vw-360(32px);
      padding-bottom: get-vw-360(32px);
      img {
        width: 100%;
        margin-top: 15px;
        min-height: get-vw-360(231px);
      }
    }
    &_single_img {
      img {
        min-height: get-vw-360(320px);
        width: 100%;
      }
    }
    &_double_img {
      padding-top: get-vw-360(32px);
      padding-bottom: get-vw-360(32px);
      img {
        width: 100%;
        min-height: get-vw-360(350px);
        margin-top: 15px;
      }
    }
  }
}
