@function get-vw-1920($font){
  $vw-context: 1920 * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
@function get-vw-1440($font){
    $vw-context: 1440 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1320($font){
    $vw-context: 1320 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1024($font){
    $vw-context: 1024 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-768($font){
    $vw-context: 768 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

@function get-vw-480($font){
    $vw-context: 480 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-360($font){
    $vw-context: 360 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

.global_title {
    display: flex;
    justify-content: center;
    h3 {
      position: relative;
      font-family: 'DIN Pro';
      font-weight: 500;
      font-size: get-vw-1440(30px);
      line-height: 131.77%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0A0A0A;
      width: 45%;
      padding-top: get-vw-1440(32px);
      padding-bottom: get-vw-1440(32px);
      &::after {
        content: '';
        position: absolute;
        height: get-vw-1440(1px);
        width: get-vw-1440(115px);
        background: #26242B;
        right: 0;
      }
      &::before {
        content: '';
        position: absolute;
        height: get-vw-1440(1px);
        width: get-vw-1440(115px);
        background: #26242B;
        left: 0;
      }
    }
  }